section.o-faqArticle.-padXsBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{serviceName[4]}
    p Con el objeto de que su marca no sea tomada en el ámbito del Internet por terceros ajenos a su empresa, le ofrecemos el servicio de tramitación de su Nombre de Dominio, que es la dirección electrónica en la que apuntará el sitio web que desarrolle para su empresa, productos y/o servicios.
    p Garantizamos que el registro de su Nombre de Dominio estará realmente a su nombre y con los datos de contactos adecuados para que pueda configurar y mover al hospedador de su preferencia cuando usted lo desee, sin intermediarios.

  .-columnRight
   +service_1("","","","","-hide")
