article.o-article.-padMdTop
 .m-article__text.-ContainerUniversal
  .m-article__left
   h1.-h2.-mXsBottom Abogados especialistas
   p #[b.-semiBold.-colorPrimary Prointelecto] es una empresa asesora especializada en Propiedad Intelectual, con especial énfasis en el Registro de Marcas, Nombres y Lemas Comerciales en Venezuela y Colombia.
   p Somos un equipo de Abogados especialistas en esta área con más de 20 años de experiencia, durante los cuales hemos registrado más de 350 marcas.
   p.-mSmBottom Con nosotros el registro y renovación de sus marcas se realizarán de forma fácil, seria, confiable y profesional, sin que tenga que moverse de su actual ubicación.
   h3 🔖 Misión #[hr]
   p Bajo el lema de propiedad intelectual a su alcance, Prointelecto opera teniendo como misión el desarrollo continuo de un sistema de atención al cliente y gestión de servicio que haga cada vez más fácil y accesible la contratación de nuestra empresa, para el registro y renovación de sus Marcas, Nombres y Lemas Comerciales; con un alto nivel de seriedad, confiabilidad y profesionalismo.
   .m-img
    img(src=linksUrl[1]+"assets/img/@0.75x/001-cafe.jpg", alt="Mapa mundi, o mapa del mundo")

   h3 👀 Visión #[hr]
   p.-mSmBottom Nos vemos a mediano y largo plazo como una empresa reconocida en el medio comercial, a la cual emprendedores y empresarios venezolanos, ubicados en cualquier parte del mundo, acuden por tradición para obtener y mantener la legalidad de sus Registros de Marcas, Nombres y Lemas Comerciales, de forma fácil, seria, confiable y profesional.

   h3 ⚖ Valores #[hr]
   p Las operaciones de Prointelecto se fundamentan en cuatro (4) valores:
   ul.m-listContent.-check
    li: p #[b.-semiBold.-colorPrimary Facilidad:] Hacemos constantes esfuerzos para manejar y seguir desarrollando nuestro sistema de atención al cliente y gestión de servicio, de manera que sea cada vez más fácil y accesible para el cliente la contratación de nuestra empresa para el trámite y mantenimiento de sus Registros de Marcas, Nombres y Lemas Comerciales.
    li: p #[b.-semiBold.-colorPrimary Seriedad:] Somos y hacemos lo que ofrecemos. En base a este valor procuramos darle al cliente toda la información necesaria para que entienda con claridad los servicios que prestamos y sus alcances.
    li: p #[b.-semiBold.-colorPrimary Confiabilidad:] Contamos con un sistema computarizado en donde se lleva la información de cada uno de los trámites de nuestros clientes, lo que garantiza la adecuada vigilancia de los tiempos y de la ejecución de las actuaciones legales correspondientes, de manera que no se pierda ninguno de los derechos de nuestros clientes por falta de vigilancia o negligencia en la tramitación.
    li: p #[b.-semiBold.-colorPrimary Profesionalidad:] Nuestro equipo está compuesto por Abogados especialistas en Propiedad Intelectual e Industrial (Marcas, Patentes de Invenciones y Derechos de Autor). Todos los miembros de nuestro equipo tienen años de experiencia en materia de registro de marcas, el equipo en su conjunto cuenta con más de 20 años realizando estos tipos de trámites, hemos registrado más de 350 marcas y atendido satisfactoriamente a más de 200 clientes.
  .m-article__right
   include ../blog/cta/_ctaright.pug