section.o-subtitle.-hideMd
 .-ContainerUniversal
  .m-ctaBox.-only.-calm.-shadow
   .m-ctaBox__img
    img(src=linksUrl[1]+"assets/img/fdr/calendar.svg", alt="")
   .m-ctaBox__text
    h3.-colorLightin Comienza tus trámites ya
    p.-colorLightin Contáctanos ahora mismo para empezar
   a.a-noMargin(href=linksUrl[1]+linksInternos[5]).a-button
    button.a-btn.-btnCalm(type="button") Contactar
