.o-farFromHome, .o-service {
    position: relative;
    @include mediaQueriesXs {
        padding-bottom: $spaceSm;
    }
}
.m-farFromHome__content {
    display: flex;
    @include mediaQueriesMd {
        flex-direction: column;
    }
}
.m-farFromHome__text {
    max-width: 53%;
    margin-right: $spaceSm;
    @include mediaQueriesMd {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: $spaceRg;
    }
    @include mediaQueriesXxs {
        margin-bottom: $spaceXs;
    }
}
// collage
.m-farFromHome__img {
    position: relative;
    width: 100%;
    overflow: hidden;
    &::before {
        border-radius: 8px;
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 1px solid $color-grey;
        width: 81%;
        height: 81%;
    }
    img {
        display: block;
        position: relative;
        border-radius: 8px;
        margin: .7%;
        float: left;
        width: 16%;
        height: 16%;
        &:nth-child(2), &:nth-child(4) {
            margin-top: 17%;
        }
        &:nth-child(3), &:nth-child(6) {
            width: 35%;
            height: 35%;
        }
        &:nth-child(5) {
            width: 55%;
            height: 55%;
        }
    }
    @include mediaQueriesXxs {
        img {
            &:nth-child(1), &:nth-child(2), &:nth-child(4) {
                display: none;
            }
            &:nth-child(6) {
                margin-top: -17%;
                position: relative;
                top: -50px;
            }
        }
    }
}
.m-farFromHome__steps {
    display: inline-block;
}
.m-farFromHome__item {
    display: flex;
    .m-farFromHome__icon {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        img {
            width: 48px;
            height: 48px;
        }
    }
    .m-farFromHome__summary {
        display: flex;
        flex-direction: column;
        margin: 0 $spaceXs $spaceSm;
    }
}

// Highlight
.o-highlight {
    margin-top: $spaceBg;
    margin-bottom: $spaceXs;
    .a-quote {
        width: 90px;
        opacity: .9;
        position: absolute;
        top: -$spaceMd;
    }
    @include mediaQueriesXxs {
        margin-top: $spaceXs;
    }
}
.m-highlight {
    position: relative;
    z-index: 5;
    max-width: 90%;
    padding: $spaceSm $spaceRg;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: $shadow2;
    background-color: $color-secondary;
}

// Service page
.m-service__content {
    @include mediaQueriesSm {
        padding: 0;
    }
}

.m-service__container {
    box-shadow: $shadow1;
    width: 100%;
    border-radius: 4px;
}
.m-service__cta {
    padding: $spaceRg;
    img {
        border-radius: 4px;
        max-width: 100%;
    }
}

.m-service__main {
    background-color: #f6f7f8;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.m-serviceGroup {
    display: flex;
    flex-flow: row wrap;
    a {
        position: relative;
        width: 50%;
        transition: .3s color ease-in;
        &.-w100 {
            width: 100%;
        }
        &::before {
            background: $color-lightin;
            transition-duration: .3s;
            transition-timing-function: ease-out;
            transition-property: box-shadow, transform;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 4px;
        }
        &::after {
            content: '';
            border-bottom: 1px solid $color-grey;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 $spaceSm;
            border-radius: 4px;
        }
    }
    a:hover {
        z-index: 5;
        &::before {
            box-shadow: $shadow1;
            transform: scale(1.02,1.02);
        }
        &::after {
            display: none;
        }
    }
    .m-service__card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        margin-left: $spaceSm;
        margin-right: $spaceSm;
    }
    .m-service__card * {
        position: relative;
    }
    &:not(:last-child) .m-service__card {
        border-bottom: 1px solid $color-grey;
    }
    .m-service__item {
        display: block;
        padding: calc(#{$spaceXs} / 2) 0;
        margin: $spaceXs 0;
    }
    .m-service__card:not(:last-child) .m-service__item {
        position: relative;
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: -$spaceSm;
            border-right: 1px solid $color-grey;
            height: 100%;
            content: "";
        }
    }
    @include mediaQueriesSm {
        flex-direction: column;
        a {
            width: 100%;
        }
        &:last-child .m-service__card {
            border-bottom: 1px solid $color-grey;
        }
    }
}
.m-service__itemContent {
    display: flex;
    align-items: center;
    img {
        width: 100%;
        max-width: $spaceMd;
        margin-right: $spaceXs;
    }
    @include mediaQueriesXs {
        img {
            max-width: 60px;
        }
    }
}

// others Servicio
.m-otherService__item {
    padding: 0 $spaceSm;
    box-sizing: border-box;
    img {
        max-width: $spaceBg;
        margin: 0 auto;
        display: flex;
    }
}