.m-article__header {
    .m-article__summary, h3 {
        max-width: 680px;
    }
    @include mediaQueriesXl {
        .m-article__summary, h3 {
            max-width: 60%;
        }
    }
    @include mediaQueriesMd {
        .m-article__summary, h3 {
            max-width: 100%;
        }
        p:last-child {
            padding-bottom: 130px;
        }
    }
}
.-headerImg {
    display: flex;
    position: relative;
    .-padHeader {
        position: relative;
        z-index: 10;
    }
    .m-headerImg {
        position: absolute;
        top: -$spaceBg;
        right: 0;
        max-width: 300px;
        width: 100%;
    }
    @include mediaQueriesMd {
        flex-direction: column;
        .-padHeader {
            padding-bottom: 100px;
        }
        .m-headerImg {
            top: $spaceRg;
            right: 0;
        }
    }
    @include mediaQueriesXs {
        .-padHeader {
            padding-bottom: 150px;
        }
        .m-headerImg {
            top: 100px;
        }
    }
}

.m-article__img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 300px;
    width: 100%;
    &.-header {
        top: -100px;
    }
    @include mediaQueriesMd {
        top: auto;
        right: 0;
        bottom: -180px;
        &.-header {
            top: auto;
            bottom: -80px;
        }
    }
    @include mediaQueriesXs {
        max-width: 400px;
        bottom: -240px;
        &.-header {
            bottom: -140px;
            img {
                width: 80%;
            }
        }
    }
}