.a-button {
    &:focus {
        outline: none;
    }
    @include mediaQueriesMd {
        margin-left: $spaceXs;
    }
    @include mediaQueriesXs {
        margin-left: 8px;
    }
}

.a-btn {
    font-family: $font1;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    margin-bottom: 3px;
    &:focus {
        outline: none;
    }
    @include mediaQueriesMd {
        font-size: $fontSM2;
    }
}


.-btnPrimary, .-btnFooter {
    padding: 9px 20px;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    border-radius: 3px;
    color: $color-lightin;
    &:hover {
        background: darken($color: $color-secondary, $amount: 5%);
        border-color: darken($color: $color-secondary, $amount: 5%);
    }
}

.-btnSecondary {
    @extend .-btnPrimary;
    border: 2px solid $color-calm;
    background-color: $color-calm;
    &:hover {
        background: darken($color: $color-calm, $amount: 5%);
        border-color: darken($color: $color-calm, $amount: 5%);
    }
}

.-btnCalm {
    @extend .-btnPrimary;
    border: 2px solid $color-lightgrey;
    background-color: $color-lightgrey;
    color: $color-secondary;
    &:hover {
        background: darken($color: $color-lightgrey, $amount: 5%);
        border-color: darken($color: $color-lightgrey, $amount: 5%);
    }
}

// Modificadores
.-btnBlock {
    display: block;
    width: 100%;
}
.-btnMonlogo {
    font-size: $fontS2;
}
.-btnSearch {
    border-radius: $spaceRg;
    margin-bottom: 0;
    height: 100%;
}