.a-facebook {
    width: 11px;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;
    top: 3px;
    content: url('../img/icons/facebook.svg');
    @include mediaQueriesLg {
        margin-left: 10px;
        margin-right: 0;
    }
    @include mediaQueriesMd {
        margin-left: $spaceXs;
    }
}

.a-instagram {
    width: 20px;
    margin-left: 10px;
    // margin-right: 10px;
    position: relative;
    top: 3px;
    content: url('../img/icons/instagram.svg');
    @include mediaQueriesMd {
        margin-left: $spaceXs;
    }
}

.a-burguerOut {
    cursor: pointer;
}
.-arrowRight {
    content: url('../img/icons/next-arrow.svg');
}
.-arrowRightWhite {
    content: url('../img/icons/next-arrow-white.svg');
}
.-search {
    width: 20px;
    content: url('../img/icons/search.svg');
}

.-icon {
    &Left {
        margin-left: 4px;
    }
}