section.o-faqArticle.-padMdBottom
 include ../_top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom Oposiciones, recursos administrativos, reingresos y otros escritos diligenciativos
    p Dentro del trámite de registro de marca en algunos casos pueden presentarse eventos o incidencias que requieren de actuaciones adicionales para que el trámite continúe con su curso o para que se revise o reconsidere la decisión de la Oficina de Registro en la que concede o niega la solicitud de registro de marca.
    p Este servicio engloba las actuaciones adicionales a las que hacemos referencia arriba y que listamos a continuación en detalle:
    ol.m-listContent.-check
     li: p #[b.-semiBold.-colorPrimary Reingreso de solicitudes.] Escrito que se redacta y se presenta, si la Oficina de Registro al hacer el  examen de forma de la solicitud de registro encuentra errores o faltas en la información suministrada y/o recaudos consignados.
     li: p #[b.-semiBold.-colorPrimary Oposiciones o contestación a oposiciones.] Escrito que se redacta y se presenta, si la Oficina de Registro recibe de un tercero una solicitud de registro por una marca idéntica o similar a la de la solicitud del cliente; o, recibe la Oposición de un tercero a la solicitud de registro de nuestro cliente basada en el registro pre-existente de una marca idéntica o similar.
     li: p #[b.-semiBold.-colorPrimary Recursos de reconsideración.] Escrito que se redacta y se presenta, si la Oficina de Registro niega la solicitud de registro del cliente, con el objeto de que reconsidere su decisión.
     li: p #[b.-semiBold.-colorPrimary Escritos diligenciativos.] Escrito que se redacta y se presenta, si la Oficina de Registro presenta retraso en el trámite, se observa alguna irregularidad en el mismo y para consignar documentación adicional importante, entre otros.  

  .-columnRight
   +service_1("","-hide","","","")
 include ../_bottom.pug
