section.o-faqArticle.-padMdBottom
 include ../_top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{serviceName[6]}
    p Para garantizar una buena relación comercial contar con términos y condiciones claros por escrito es fundamental.
    p Nuestro equipo de Abogados especialistas redacta contratos, acuerdos y notificaciones que asegurarán que su negociación y relación comercial prospere con el mínimo riesgo de conflicto, y en caso de presentarse alguna, establecerá las vías de solución de forma clara.
    p Para que tenga una idea de los tipos de contratos, acuerdos y notificaciones que podemos redactar para usted, a continuación le dejamos algunos ejemplos:

    ol.m-listContent.-check
     li: p Venta o cesión de marcas y signos comerciales
     li: p Licencia de uso y explotación comercial de marcas y nombres comerciales, diseños, software, recetas y fórmulas
     li: p Desarrollo de Software, diseños y recetas
     li: p Acuerdos de confidencialidad
     li: p Edición literaria o musical
     li: p Creación de Obras Artísticas por encargo
     li: p Agencia y representación artística
     li: p Producción Musical
     li: p Eventos y espectáculos
     li: p Comunicación y comercialización de imagen
     li: p Licencia para transmisión y retransmisión de material audiovisual
     li: p Términos y condiciones de sitios web
     li: p Restricción de la competencia
     li: p Franquicias
     li: p Avisos y notificaciones para solicitar el cese de uso no autorizado de una marca registrada u otro derecho de propiedad intelectual 

  .-columnRight
   +service_2("","-hide")
 include ../_bottom.pug