section.o-service.-padMdBottom.-zI10.-pRelative
 .m-service__content.-ContainerUniversal
  .m-service__container.-bg.-mMdBottom
   h3 Registros de Marcas
   p.-mRgBottom.-subtitle Atendemos a clientes ubicados en cualquier parte del mundo
   .m-box__group
    +boxItemFaq("1","-bg","Registro de Marcas, Nombres y Lemas Comerciales","https://theme.zdassets.com/theme_assets/680878/25ba6d89e902fcdc64cd1b187ff6213273a28052.svg")
    +boxItemFaq("2","-bg","Renovación de Registros de Marcas, Nombres y Lemas Comerciales","https://theme.zdassets.com/theme_assets/680878/25ba6d89e902fcdc64cd1b187ff6213273a28052.svg")
    +boxItemFaq("3","-bg","Oposiciones y Recursos administrativos","https://theme.zdassets.com/theme_assets/680878/25ba6d89e902fcdc64cd1b187ff6213273a28052.svg")
    +boxItemFaq("4","-bg","Acciones de nulidad de registro y Cancelaciones por falta de uso","https://theme.zdassets.com/theme_assets/680878/25ba6d89e902fcdc64cd1b187ff6213273a28052.svg")
    +boxItemFaq("5","-bg","Consultas de estatus administrativo de trámites de Registro de Marca","https://theme.zdassets.com/theme_assets/680878/25ba6d89e902fcdc64cd1b187ff6213273a28052.svg")
    +boxItemFaq("6","-bg","Inscripciones de licencias, cesiones, cambios de nombre, domicilio y otros","https://theme.zdassets.com/theme_assets/680878/25ba6d89e902fcdc64cd1b187ff6213273a28052.svg")

  .m-service__container
   h3.-mSmBottom  Otros servicios relacionados
   .m-box__group
    +boxItemFaq("1","-bg","Estudios jurídicos de casos relacionados con Derechos de Propiedad Intelectual","https://theme.zdassets.com/theme_assets/680878/25ba6d89e902fcdc64cd1b187ff6213273a28052.svg")
    +boxItemFaq("2","-bg","Contratos, acuerdos y notificaciones relacionados con la Propiedad Intelectual","https://theme.zdassets.com/theme_assets/680878/25ba6d89e902fcdc64cd1b187ff6213273a28052.svg")
    +boxItemFaq("3","-bg","Registro de Nombres de Dominio .com.ve","https://theme.zdassets.com/theme_assets/680878/25ba6d89e902fcdc64cd1b187ff6213273a28052.svg")