section.o-service.-padMdBottom.-zI10.-pRelative
 .m-service__content.-ContainerUniversal
  h1.-h2.-medium.-mXsBottom.-textCenter ¿Qué servicio requieres? 
  .m-tabs.-textCenter.-mRgBottom
   ul.m-tabs__nav
    li: p.m-tabs__item.-isActive(onclick="mostrarPestana(0)") Registro de Marca
    li: p.m-tabs__item(onclick="mostrarPestana(1)") Otros de Propiedad Industrial

  div.-content.m-tabs__topic.-isActive
   .m-service__container.-bg
    .-row
     .-col-4.-colMd-12.m-service__main
      .m-service__cta
       .-pRelative
        img.-mXsBottom(src=linksUrl[1]+"assets/img/servicios/img001.jpg", alt="")
       p Servicios para Registro de marcas y trámites relacionados
     .-col-8.-colMd-12
      .m-serviceGroup
       +cardServiceLink(linksUrl[1]+linksInternos[3],linksUrl[1]+"assets/img/icons/service-01.svg","alt","1. Registro de Marcas, Nombres y Lemas Comerciales","-badgePrimary","Iniciar")
      .m-serviceGroup
       +cardService(linksUrl[1]+"assets/img/icons/service-02.svg","alt","2. Oposiciones y Recursos administrativos","-hide","New")
       +cardService(linksUrl[1]+"assets/img/icons/service-03.svg","alt","3. Renovación de Registros de Marcas, Nombres y Lemas Comerciales","-hide","New")
      .m-serviceGroup
       +cardService(linksUrl[1]+"assets/img/icons/service-04.svg","alt","4. Acciones de nulidad y Cancelaciones por falta de uso","-hide","New")
       +cardService(linksUrl[1]+"assets/img/icons/service-05.svg","alt","5. Inscripción de licencias, cesiones, cambios de nombre y domicilio","-hide","New")

  div.-content.m-tabs__topic
   .m-service__container.-bg.-mMdBottom
    .-row
     .-col-4.-colMd-12.m-service__main
      .m-service__cta
       .-pRelative
        img.-mXsBottom(src=linksUrl[1]+"assets/img/servicios/img002.jpg", alt="")
       p Otros servicios relacionados con marcas y derechos de Propiedad Intelectual
     .-col-8.-colMd-12
      .m-serviceGroup
       +cardService(linksUrl[1]+"assets/img/icons/service-06.svg","alt","1. Estudios jurídicos de casos sobre marcas, invenciones, derechos de autor, imagen, confidencialidad y restricción de la competencia","-hide","New")
      .m-serviceGroup
       +cardService(linksUrl[1]+"assets/img/icons/service-07.svg","alt","2. Contratos, acuerdos y notificaciones relacionados con ventas, cesión, licencias, franquicias, confidencialidad, competencia y/o desarrollo","-hide","New")
      .m-serviceGroup
       +cardService(linksUrl[1]+"assets/img/icons/service-08.svg","alt","3. Registro de Nombres de Dominio","-hide","New")
