section.o-hero#main
 .main
  .m-waves__container
   .m-waves
    .a-wave.-a
    .a-wave.-b
    .a-wave.-c
  .m-heroContent.-waveHero.container
   .content.-ContainerUniversal
    .m-heroContent__text.-center
     .a-heroContent__title
      h1.-colorLightin.-bold Servicios
     .a-heroContent__text
      p.-colorLightin.-light.-subtitle Todo lo relacionado con la protección de sus derechos de Propiedad Intelectual
