.o-footerContent.-padSmBottom.-padBgTop
 .m-footer.-ContainerUniversal
  .m-footer__us
   h4.-nochange.-semiBold.-mXsBottom.-colorDarken Compañía
   ol.m-listFooter
    +footerLink(linksUrl[1]+linksInternos[0],"", titles[0])
    +footerLink(linksUrl[1]+linksInternos[1],"", titles[1])
  .m-footer__course
   h4.-nochange.-semiBold.-mXsBottom.-colorDarken Servicios
   ol.m-listFooter
    +footerLink(linksUrl[1]+linksInternos[3],"", services[1])

  .m-footer__article
   h4.-nochange.-semiBold.-mXsBottom.-colorDarken Blog
   ol.m-listFooter
    +footerLink(linksUrl[1]+linksInternos[6],"", "Artículos")
    +footerLink(linksUrl[1]+linksInternos[6]+"#pi","", blogCat[0])
    +footerLink(linksUrl[1]+linksInternos[6]+"#fr","", blogCat[1])
  .m-footer__subs
   h4.-nochange.-semiBold.-mXsBottom.-colorDarken Consultas
   ol.m-listFooter
    +footerLink(linksUrl[1]+linksInternos[5],"", titles[3])
    +footerLink(linksUrl[1]+linksInternos[4],"", titles[2])
 .a-border.-mw80.-mAutoRL
  .-borderBottom
