head
 // prointelecto.com?v=3.2
 // Required meta tags
 meta(charset="UTF-8")
 meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
 meta(http-equiv="X-UA-Compatible", content="ie=edge")
 meta(name="theme-color", content="#226ef2")

 // metas de fav
 link(rel="shortcut icon", href=linksUrl[1]+logoResponsive[1], type="image/x-icon")
 link(rel="apple-touch-icon", href=linksUrl[1]+logoResponsive[1], type="image/png", sizes="180x180")
 link(rel="icon", href=linksUrl[1]+logoResponsive[1], type="image/png", sizes="196x196")