section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{serviceName[5]}
    p Estos tipos de estudios son muy útiles cuando necesita enfrentar alguna situación en la que sus derechos de propiedad intelectual se vean vulnerados, saber con qué alternativas legales cuenta para defenderlos o entender si realmente cuenta con un derecho de propiedad intelectual.
    p Para que tenga una idea de lo que podemos estudiar, a continuación le dejamos algunos ejemplos:
    ol.m-listContent.-check
     li: p Un tercero está usando una marca idéntica o similar a la suya para identificar productos o servicios iguales o muy parecidos a los que usted ofrece
     li: p Un tercero le está solicitando que deje de usar una marca que usted viene usando desde hace tiempo
     li: p Desarrolló una fórmula o receta con algún socio o empleado que ya no trabaja para usted y está comercializando esta fórmula o receta
     li: p Firmó un contrato en donde se le autoriza a hacer uso de marcas, recetas y/o know how de un tercero y éste le está cobrando una multa por faltar a una de la condiciones establecidas en el contrato 
     li: p Firmó un contrato en donde autoriza el uso de su imagen por parte de un tercero y se está utilizando de una manera que usted no previó
     li: p Celebró un acuerdo de representación o producción artística y ha surgido un malentendido 
     li: p Alguien está utilizando un diseño, una aplicación o sortware que usted creó sin su autorización y retribución

  .-columnRight
   +service_2("-hide","")
