.o-accordion {
  position: relative; }

.m-accordion__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[2];
  grid-template-rows: repeat(2, auto); }
