article.o-article.-padMdTop
 // header
 .m-article__header.-ContainerUniversal
  p.-category #{blogCat[0]}
  h1 #{blogS_1[2]}
  h3.-subtitle.-light Nada más injusto que después de que usted haya producido un evento con gran pegada comercial, venga un tercero a identificar un nuevo evento con la misma marca o imagen comercial que usted forjó, aprovechándose indebidamente de los frutos de su esfuerzo. Entérese cómo la Propiedad Intelectual lo ayuda en un caso así.
  p.-writer Escrito por Iskra Bohórquez, #[br] Abogado especialista en Propiedad Intelectual e Internet

 // Background-Img
 .m-article__imgBg
  .m-imgBg__post(style="background-image: url(../"+blogImgS_1[2]+");")

 // Text of article &nbsp; (para hacer espacios)
 .m-article__text.-ContainerUniversal
  .m-article__left
   .m-article__sec
    h3 ¿Sabía usted que los nombres y signos con que se identifican los eventos y espectáculos pueden ser registrados como marcas? #[hr]
    p.-fistLetter Sí, los nombres como el Caracas Pop Festival, Congreso Inmobiliario de Venezuela, Expoinmuebles y muchos otros, constituyen marcas sobre las que su organizadores tienen derecho de uso exclusivo, porque se registraron como marcas por ante la oficina gubernamental competente materia de Propiedad Intelectual.
    p Al tener una marca registrada, se tiene el derecho de impedir que terceros empleen la marca sin autorización o que usen un nombre similar que implique un riesgo de confusión para el público en general.
    p Contar con el registro del nombre de su evento como marca de manera temprana, también evitará que algún tercero registre un nombre idéntico o muy similar antes que usted, y luego pueda prohibirle legalmente el uso de un nombre que usted ya posicionó en la mente del público.
    p Y es que para el caso de los eventos y espectáculos, tener su marca registrada le facilitará el camino para la defensa de sus derechos, en caso de alguna violación o usurpación de los mismos.
    p Imagínense, que después de haber producido un evento con gran pegada comercial, es decir, que haya quedado en la mente del público, ya sea por las características propias del evento o por la inversión y el buen manejo de la publicidad y la comercialización, venga un tercero pretendiendo identificar un nuevo evento con la marca y la imagen comercial que usted forjó y que indudablemente tiene un valor agregado producto de su trabajo y dedicación. Nada más injusto.
    p Si tiene su marca registrada, podrá solicitar con pleno derecho el cese del uso no autorizado, y si en una primera instancia amistosa no hay resultados, con toda confianza podrá impulsar medidas judiciales inmediatas que impidan la continuación de la violación a estos derechos.
    p Es por lo anterior que empresarios y organizadores de eventos y espectáculos de larga trayectoria siempre hacen el registro de marca de sus nombres.
    .m-img
     img(src=linksUrl[1]+"assets/img/index/img_003.jpg", alt="")
    p Otra razón de peso para no dejar de registrar las marcas de eventos y espectáculos, es que para aquellos productores que estilan repetir periódicamente un mismo evento, éste se vuelve un concepto de negocio cuyo valor reside en gran proporción en el nombre del evento.
    p La única manera de que se pueda reflejar legalmente el valor de un nombre financiera y contablemente, es contando con el documento que acredita la propiedad sobre ese nombre, esto no es otra cosa que el Registro de Marca.
    p A parte de los derechos sobre marcas, los eventos y espectáculos implican otros tipos de derechos de propiedad intelectual, entre ellos, cuando son eventos musicales, están: los derechos de autor de cantantes, intérpretes y ejecutantes. 
    p Los derechos de autor sobre producciones artísticas en casi todos los países están provistos de mecanismos de defensa contundentes en caso de eventos y espectáculos públicos.
    p En Venezuela por ejemplo, la Ley sobre el Derecho de Autor otorga al autor de una obra el derecho a solicitar al Alcalde del Municipio o a la autoridad competente que controla los espectáculo públicos, la prohibición de la realización de un evento artístico que incluya la obra del autor, a quien no acredite por escrito, estar autorizado por el mismo.
    p Así de manera que sin ir por la vía judicial, tranquilamente demostrándose la condición de autor, se podría paralizar un evento o espectáculo público.  Los productores y organizadores de eventos deben ser cuidadoso con este tema.
    p La presencia de la propiedad intelectual en los eventos y espectáculos no debe pasarse por alto, en la mayoría de los casos hay más derechos de propiedad intelectual implicados de lo que aparentan, tener a la mano asesoría especializada es altamente recomendable, así como no para no dejar de registrar como marca los signos y nombres con que identifican sus eventos.

  .m-article__right
   include ../cta/_ctaright.pug

