article.o-article.-padMdTop
 // header
 .m-article__header.-ContainerUniversal
  p.-category #{blogCat[0]}
  h1 #{blogS_1[0]}
  h3.-subtitle.-light La marca es esencial para el mercadeo, que tiene como meta hacer y mantener una clientela. El registro de marca otorga derecho a su uso exclusivo y su tramitación temprana evita que personas ajenas, por desconocimiento o mala fe, tramiten el registro de una marca idéntica o similar antes que su verdadero creador.
  p.-writer Escrito por Dra. Iskra Bohórquez

 // Background-Img
 .m-article__imgBg
  .m-imgBg__post(style="background-image: url(../"+blogImgS_1[0]+");")

 // Text of article &nbsp; (para hacer espacios)
 .m-article__text.-ContainerUniversal
  .m-article__left
   .m-article__sec
    p.-fistLetter Quienes ingenuamente inician un emprendimiento e invierten dinero y esfuerzos para dar a conocer sus productos o servicios con una marca particular sin tramitar su registro, corren un alto riesgo de no poderlo hacer más adelante.
    p La imposibilidad de hacer un registro de marca implicará en algún momento dejarla de usar y con ello perder todos los esfuerzos de mercadeo realizados y la clientela cautiva que ya le es fiel a la marca.
    p El mercadeo es una de las actividades básicas que debe realizar toda empresa que obtiene beneficios económicos por la venta de productos o servicios. La mayoría de los productos y servicios que se introducen en un mercado deben hacer frente a otros similares que constituyen su competencia.
    p La meta del mercadeo de hacer y mantener clientela, va íntimamente ligada a la creación de una identidad, imagen o reputación que le permita al consumidor diferenciar la empresa y sus productos o servicios de los de la competencia, y depositar su confianza en ella.
    p La marca desempeña una función esencial en este proceso, es la principal herramienta con que cuenta y de la que parte todas las demás estrategias de mercadeo, y ha sido así desde los primeros tiempos del tráfico comercial.
    p Las empresas tienen que persuadir a los clientes para que pasen rápidamente del conocimiento de su marca a la preferencia de la misma, mediante su reconocimiento, hasta llegar a la fidelidad, momento en el que el consumidor rechaza marcas alternativas y está dispuesto a pagar un precio más alto por el producto o servicio de la marca de su preferencia.
    p A groso modo una buena marca debe reunir las siguientes características: ser intrínsecamente distintiva; fácil de recordar y de pronunciar; adecuarse al producto o a la imagen de la empresa; respetar las prohibiciones legales de registro y tener una connotación positiva.
    .m-img
     img(src=linksUrl[1]+"assets/img/index/img_003.jpg", alt="")
    p Una marca puede ser una palabra, una letra, un símbolo (logotipo), un número, un color, una forma, un sonido, un olor o la combinación de algunos de estos elementos.
    p Con el fin de disminuir riesgos y gastos excesivos es importante hacer el registro de la marca con que identifica sus productos o servicios lo más pronto posible.
    p La marca registrada le permitirá contrarrestar de manera efectiva su uso no autorizado por parte de terceros o la coexistencia con una marca similar en el mercado que confunda al consumidor en el momento de hacer su elección de compra.
    p La tramitación temprana del registro de marca también evitará que otra persona o empresa, por desconocimiento o mala fe, tramite el registro de una marca idéntica o similar antes que usted y luego le impida legalmente hacer uso de la misma, después de que sus productos ya son reconocidos con esa marca por cierta clientela.
    p Por otra parte, la marca registrada puede reflejarse como parte de los activos intangibles de un balance contable. También puede generar ingresos por sí sola cuando se cobran regalías a cambio de su licencia de uso a terceros; y como cualquier propiedad, puede venderse, cederse, traspasarse, dejarse como herencia y hasta hipotecarse.
    p Con Prointelecto puede hacer su Registro de Marca en Venezuela y Colombia, sin moverse de su oficina, a través de nuestros Servicios a Distancias, sin importar en que parte del mundo se encuentre.
    p La presencia de la propiedad intelectual en los eventos y espectáculos no debe pasarse por alto, en la mayoría de los casos hay más derechos de propiedad intelectual implicados de lo que aparentan, tener a la mano asesoría especializada es altamente recomendable, así como no para no dejar de registrar como marca los signos y nombres con que identifican sus eventos.

  .m-article__right
   .m-article__cta
    .m-ctaBox__box
     h3.-colorLightin ¿Todavía no sabes que ofecemos?
     p.-colorLightin.-mXsBottom Ve a nuestros servicios para ver a que nos dedicamos
    .a-button.a-noMargin
     button.a-btn.-btnSecondary.-btnBlock(type="button") Enviar

