section.o-faqArticle.-padXsBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{serviceName[2]}
    p Los registros de marcas, nombres y lemas comerciales tienen un lapso de vigencia renovable a solicitud de su titular.  En Venezuela es de 15 años y en Colombia de 10 años.
    p Se cuenta con el lapso de renovación de 6 meses inmediatamente anteriores a la fecha de vencimiento. En Colombia se cuenta con este mismo lapso y además con 6 meses adicionales después de la fecha de vencimiento.
    p Este servicios implica la tramitación y demás actuaciones que se requieren para verificar la renovación.

  .-columnRight
   +service_1("","","-hide","","")
