section.o-faqArticle.-padMdBottom
 include ../_top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{serviceName[3]}
    p Durante la vigencia de los registros de marcas, nombres y lemas comerciales como cualquier bien sobre el cual se ejerce derecho de propiedad, pueden ocurrir cambios con relación a su titular y las negociaciones que éste realice.
    p Estos cambios y negociaciones deben inscribirse ante la Oficina de Registro de Marcas para que gocen de Fe Pública y por lo tanto, cumplan efecto para terceros.
    p A continuación dejamos el listado de los eventos que se deben inscribir en la Oficina de Registro de Marcas y que por lo tanto precisarán de estos servicios:
    ol.m-listContent.-check
     li: p #[b.-semiBold.-colorPrimary Licencias.] Cuando se autoriza a terceros, de forma exclusiva o no, para explotar comercialmente la marca, nombre o lema comercial registrado, a cambio de regalías o a título gratuito.
     li: p #[b.-semiBold.-colorPrimary Cesiones.] Cuando se vende o se cede la marca, nombre o lema comercial registrado, a cambio del pago de un precio o a título gratuito.
     li: p #[b.-semiBold.-colorPrimary Cambio de nombre.] Cuando el titular de la marca cambia de nombre de acuerdo en sus estatutos sociales o por vía judicial.
     li: p #[b.-semiBold.-colorPrimary Cambio de domicilio.] Cuando el titular cambia de domicilio según sus estatutos sociales.

  .-columnRight
   +service_1("","","","-hide","")
 include ../_bottom.pug
