section.o-contact.-faq.-bgAlert
 .-ContainerUniversal.-padMdTopBottom
  h2.-colorLightin Cómo lo hacemos
  .-row
   .-col-8
    p.-colorLightin En este sitio web encontrará información relacionada con Registro de Marcas, Nombres y Lemas Comerciales. Lo invitamos a visitar nuestra sección de Preguntas más frecuentes en donde podrá encontrar respuestas a las interrogantes y dudas más comunes sobre registro de marcas.
   .-col-4.-dFlex.o-contant__buttons
    .a-button
     button.a-btn.-btnSecondary.-mXsRight(type="button") Contactar
    .a-button
     button.a-btn.-btnCalm(type="button") Blog