section.o-contact.-padMdBottom.-padRgTop
 .-ContainerUniversal.a-noPadding.-pRelative
  .m-ctaBox.-only.-shadow
   .m-ctaBox__img
    img(src=linksUrl[1]+"assets/img/recursos/servicios.svg", alt="")
   .m-ctaBox__text
    h3.-colorLightin ¿Todavía no sabes qué ofrecemos?
    p.-colorLightin Visite nuestra página de servicios para que conozca todos los detalles
   a(href=linksUrl[1]+linksInternos[1]).a-button
    button.a-btn.-btnSecondary(type="button") Servicios
  
  .-squareGreen.-icon.-iconRightBottom.-zI-1