//-section.o-contact.-index.-bgAlert.-bgSquare.-padMdTopBottom.-mRgTop
 .-ContainerUniversal
  h2.-colorLightin Cómo lo hacemos
  .-row
   .-col-8
    p.-colorLightin En este sitio web encontrará información relacionada con Registro de Marcas, Nombres y Lemas Comerciales. Lo invitamos a visitar nuestra sección de Preguntas más frecuentes en donde podrá encontrar respuestas a las interrogantes y dudas más comunes sobre registro de marcas.
   .-col-4.-dFlex.o-contant__buttons
    a(href=linksUrl[1]+linksInternos[5]).a-button
     button.a-btn.-btnSecondary.-mXsRight(type="button") Contactar
    .a-button
     button.a-btn.-btnCalm(type="button") Blog

section.o-contact.-padMdBottom.-padRgTop
 .-ContainerUniversal.a-noPadding
  .m-ctaBox.-only.-shadow
   .m-ctaBox__img
    img(src=linksUrl[1]+"assets/img/fdr/calendar.svg", alt="")
   .m-ctaBox__text
    h3.-colorLightin ¿Todavía no sabes que ofecemos?
    p.-colorLightin Ve a nuestros servicios para ver a que nos dedicamos
   a(href=linksUrl[1]+linksInternos[5]).a-button
    button.a-btn.-btnSecondary(type="button") Servicios
