section.o-contact.-padRgTop
 .-ContainerUniversal.a-noPadding.-pRelative
  +cta("-monlogo",linksUrl[1]+"assets/img/recursos/monlogo_cta.svg","Ilustraci칩n de aplicaciones de servicios de registro de marca, Flat design","Servicios de Dise침o y Programaci칩n Web ","Conoce nuestra nueva divisi칩n monlogo.co","https://monlogo.co","-btnSecondary -monlogo","Conocer")
  
  .-squareGreen.-icon.-iconRightBottom.-zI-1