section.o-hdwdi.-padMdTopBottom
 .m-hdwdi.-ContainerUniversal
  h2.-colorDarken.-medium Qué hacemos
  p.-mSmBottom.-subtitle Atendemos a clientes ubicados en cualquier parte del mundo
  .m-box__group.-noPart
   +boxItemIcon("1",linksUrl[1]+linksInternos[3],"-bgAlert",services[1],"Nuestro servicio de registro es prestado en cuatro fases.", "Leer más","-colorLightin","-arrowRightWhite")
   +boxItemIcon("2",linksUrl[1]+linksInternos[1],"-bgPri","Servicios relacionado","Atendemos a clientes ubicados en cualquier parte del mundo.", "Leer más","-colorLightin","-arrowRightWhite")
   +boxItemIcon("3",linksUrl[1]+linksInternos[4],"-bgCalm",titles[2],"Aquí encontrará las respuestas a las preguntas más comunes.", "Leer más","-colorLightin","-arrowRightWhite")