section.o-hdwdi.-padMdTopBottom
 .m-hdwdi.-ContainerUniversal.-pRelative
  h2.-colorDarken.-medium ¿Qué ofrecemos?
  p.-mSmBottom.-subtitle Nuestro equipo de abogados especialistas en Propiedad Intelectual está listo para prestarle los siguientes servicios
  .m-box__group.-noPart
   +boxItemIcon("1",linksUrl[1]+linksInternos[3],"-bgAlert",services[1],"Tramitación de registros en cuatro fases. Renovaciones. Oposiciones. Recursos. Cesiones y cambios", "Ver","-colorLightin","-arrowRightWhite",linksUrl[1]+"assets/img/index/card001.svg","simbolo de registro")
   +boxItemIcon("2",linksUrl[1]+linksInternos[1]+"#estudios","-bgPri","Estudios y Contratos","Estudios jurídicos de casos. Contratos y acuerdos de Propiedad Intelectual", "Ver","-colorLightin","-arrowRightWhite",linksUrl[1]+"assets/img/index/card002.svg","engranajes")
   +boxItemIcon("3",linksUrl[1]+linksInternos[4],"-bgCalm",titles[2],"Aclara tus dudas y aprende sobre Registro de Marcas y Propiedad Inteletectual", "Ver","-colorLightin","-arrowRightWhite",linksUrl[1]+"assets/img/index/card003.svg","simbolo de preguntas en cartas")
 
  .-squareOrange.-icon.-iconLeftBottom.-zI-1