section.o-hdwdi.-padMdTopBottom
 .m-hdwdi.-ContainerUniversal.-pRelative
  h2.-colorDarken.-medium ¿Qué ofrecemos?
  p.-mSmBottom.-subtitle Nuestro equipo de abogados especialistas está listo para prestarle los siguientes servicios
  .m-box__group.-noPart
   +boxItemIcon("1",linksUrl[1]+linksInternos[3],"-bgAlert",services[1],"Tramitación de Registro de Marcas, Nombres y Lemas Comerciales en cuatro (4) fases con vigilancia de principio a fin", "Leer más","-colorLightin","-arrowRightWhite",linksUrl[1]+"assets/img/index/card001.svg","simbolo de registro")
   +boxItemIcon("2",linksUrl[1]+linksInternos[1],"-bgPri","Otros servicios","Oposiciones, recursos y renovaciones. Estudios y acuerdos relacionados con otros derechos de Propiedad Intelectual y más", "Leer más","-colorLightin","-arrowRightWhite",linksUrl[1]+"assets/img/index/card002.svg","engranajes")
   +boxItemIcon("3",linksUrl[1]+linksInternos[4],"-bgCalm",titles[2],"Todo lo que debe saber sobre Registros de Marcas, Nombres y Lemas Comerciales y propiedad intelectual", "Leer más","-colorLightin","-arrowRightWhite",linksUrl[1]+"assets/img/index/card003.svg","simbolo de preguntas en cartas")
 
  .-squareOrange.-icon.-iconLeftBottom.-zI-1