section.o-hero#main
 .main
  .m-waves__container
   .m-waves
    .a-wave.-a
    .a-wave.-b
    .a-wave.-c
  .m-heroContent.-waveHero.container
   .content.-ContainerUniversal
    .m-heroContent__text.-center
     .a-heroContent__title
      h1.-colorLightin.-bold Inicie su Registro de Marca ahora
     .a-heroContent__text
      p.-colorLightin.-light.-subtitle Tramitamos Registros de Marca en Venezuela y Colombia para clientes en cualquier parte del mundo
