section.o-hero#main
 .main
  .m-waves__container
   .m-waves
    .a-wave.-a
    .a-wave.-b
    .a-wave.-c
  .m-heroContent.-waveHero.container
   .content.-ContainerUniversal
    .m-heroContent__text.-center
     .a-heroContent__title
      h1.-colorLightin.-bold Registra tu marca fácilmente
     .a-heroContent__text
      p.-colorLightin.-light.-subtitle En Venezuela y Colombia sin moverte de tu oficina a través de nuestro servicio a distancia
     .a-heroContent__button.-center.-mXsTop
      a.a-button.a-noMargin(href=linksUrl[1]+"#contact")
       button.a-btn.-btnSecondary.-mXsRight(type="button") Contactar
      a.a-button.a-noMargin(href=linksUrl[1]+linksInternos[1])
       button.a-btn.-btnCalm(type="button") Servicios #[i.-icon.-iconLeft.-arrowRight]
