section.o-farFromHome.-index.-padMdTopBottom
 .m-farFromHome__content.-ContainerUniversal
  .m-farFromHome__text
   span.-small.-medium.-uppercase.-colorPrimary ¿Cómo lo hacemos?
   h2.-colorDarken.-medium Servicios a Distancia
   .-textContent
    p Nuestros servicios se hacen en su totalidad por medio de comunicaciones vía correo electrónico, teléfono y envío de documentación a través de empresas de encomiendas. Usted no tendrá que moverse de su zona de ubicación.
    p Tenemos un equipo de Abogados especialistas en derecho marcario y tramitación de registros de marcas con más de 20 años de experiencia. Hemos registrado más de 350 marcas y atendido satisfactoriamente a más de 200 clientes.
    p Contamos con un sistema computarizado en donde se lleva la información de cada uno de los trámites de nuestros clientes, lo que garantiza la adecuada vigilancia de los tiempos y la ejecución de las actuaciones legales correspondientes.
    p Con nosotros la protección legal de su marca se realizará de forma fácil, seria, confiable y profesional.
  .m-farFromHome__img
   img(src=linksUrl[1]+"assets/img/index/img_003.jpg", alt="")