section.o-farFromHome.-index.-padMdTopBottom
 .m-farFromHome__content.-ContainerUniversal
  .m-farFromHome__text
   h2.-medium.-colorDarken ¿Cómo lo hacemos?
   .m-farFromHome__steps.-mRgTop
    .m-farFromHome__item
     .m-farFromHome__icon
      img(src=linksUrl[1]+"assets/img/icons/location_round.svg", alt="Icono de la tierra o el mundo")
     .m-farFromHome__summary
      h4 A través de nuestros servicios a distancia
      p Todos nuestros servicios se prestan bajo la modalidad de Servicios a Distancia.  Usted no tendrá que moverse de su oficina, ciudad o país de ubicación.
    
    .m-farFromHome__item
     .m-farFromHome__icon
      img(src=linksUrl[1]+"assets/img/icons/email_round.svg", alt="Icono de email")
     .m-farFromHome__summary
      h4 Comunicaciones electrónicas y telefónicas
      p A través de comunicaciones vía correo electrónico, teléfono y envío de documentación por medio de empresas de envío y encomiendas nacionales e internacionales, si es necesario.
    
    .m-farFromHome__item
     .m-farFromHome__icon
      img(src=linksUrl[1]+"assets/img/icons/follow_round.svg", alt="Icono de rastreo de locación")
     .m-farFromHome__summary
      h4 Sistema de seguimiento informático
      p Contamos con un sistema informático propio en donde se lleva la información de cada uno de los trámites de nuestros clientes, lo que garantiza la adecuada vigilancia de los tiempos y la ejecución de las actuaciones legales correspondientes.

  .m-farFromHome__img
   include _collage.pug