section.o-stuff.-padMdTopBottom
 .m-box__content.-ContainerUniversal
  .m-box__title.-mXsBottom
   h2.-colorDarken.-medium Blog
  .m-box__group.-index
   +boxItem("1", linksUrl[1], blogCat[0], "El Diseño un Valor Agregado de los Productos","Atendemos a clientes ubicados en cualquier parte del mundo.",linksUrl[1]+"assets/img/index/img_003.jpg", "d")
   +boxItem("2", linksUrl[1], blogCat[1], "Por qué Franquiciar mi Negocio","Nuestro servicio de registro de marcas es prestado en cuatro fases.",linksUrl[1]+"assets/img/index/img_001.jpg", "d")
   +boxItem("3", linksUrl[1], blogCat[0], "Propiedad Intelectual, la riqueza creada por el intelecto","Atendemos a clientes ubicados en cualquier parte del mundo.",linksUrl[1]+"assets/img/index/img_002.jpg", "d")
 