//- Footer firm
.o-footerFirmDev.-pRelative
 .m-footerFirmDev.-ContainerUniversal
  p © 2020 Prointelecto C. A.
  p #{monlogo[1]} #[a.-colorAlert.-semiBold(href="https://monlogo.co", target="_blank") Monlogo]
 .-logoMonlogo
  img(src=linksUrl[1]+"assets/img/@1x/004-monlogo.png", alt="Logo de monlogo")