//- Footer firm
.o-footerFirmDev.-content
 .m-footerFirmDev.-ContainerUniversal
  p #{monlogo[1]}
  a.a-button(href=monlogo[0], target="_blank")
   button.a-btn.-btnSecondary.-btnMonlogo.-medium(type="button") Monlogo