include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headask.pug
  +metadata("Qué es el registro de marca"+metaFirm,"Procedimiento ante oficina pública, una solicitud que identifica productos o servicios y termina con la concesión de certificado de registro de marca",metaAuthor[1],"https://prointelecto.com/faq/0102-que-es-el-registro-de-marca",metaType[1],metaTypeImg[0],metaOgImg[0],metaImgAlt[0],metaTwitter[1])
  +article("2020-08-31T13:12:54+00:00","2020-08-31T13:12:54+00:00")
 
 body.-bg
  // menu
  include ../base/_header.pug

  // hero
  +heroFaq(linksUrl[1]+linksInternos[4]+"#faq1",askSections[0],ask_1[1])

  // contact
  include ../components/faq/answers/_0102.pug

  // contact
  include ../components/faq/_contact.pug

  // Footer
  include ../base/_footer.pug

  // Google Rich Card
  +jsonOrganization()