include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headask.pug
  +metadata("Qué es un nombre comercial"+metaFirm,"El nombre comercial es el signo que tiene por objeto distinguir una empresa, negocio, explotación o establecimiento mercantil",metaAuthor[1],"https://prointelecto.com/faq/0105-que-es-un-nombre-comercial",metaType[1],metaTypeImg[0],metaOgImg[0],metaImgAlt[0],metaTwitter[1])
  +article("2020-09-17T09:36:03-0600","2020-09-17T09:36:03-0600")
  include ../base/_headjs.pug
 
 body.-bg
  // menu
  include ../base/_header.pug

  // hero
  +heroFaq(askSections[0])
  
  // contact
  include ../components/faq/answers/_0105.pug

  // contact
  include ../components/faq/_contact.pug

  // Footer
  include ../base/_footer.pug

  // Google Rich Card
  +jsonOrganization()
  +jsonArticle(metaAuthor[2],"Qué es un nombre comercial","El nombre comercial es el signo que tiene por objeto distinguir una empresa, negocio, explotación o establecimiento mercantil","https://prointelecto.com/faq/0105-que-es-un-nombre-comercial","2020-09-17T09:36:03-0600","2020-09-17T09:36:03-0600",metaOgImg[0])