include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headask.pug
  +metadata(ask_1[5]+metaFirm,"Signo constituido por una palabra, frase o leyenda que se emplea como complemento de una marca o de un nombre comercial. En publicidad se llama eslogan",metaAuthor[1],"https://prointelecto.com/faq/0106-que-es-un-lema-comercial",metaType[1],metaTypeImg[0],metaOgImg[0],metaImgAlt[0],metaTwitter[1])
  +article("2020-09-17T09:36:03-0600","2020-09-17T09:36:03-0600")
  include ../base/_headjs.pug
 
 body.-bg
  // menu
  include ../base/_header.pug

  // hero
  +heroFaq(askSections[0])
  
  // contact
  include ../components/faq/answers/_0106.pug

  // contact
  include ../components/faq/_contact.pug

  // Footer
  include ../base/_footer.pug
  
  // Google Rich Card
  +jsonOrganization()
  +jsonArticle(metaAuthor[2],ask_1[5],"Signo constituido por una palabra, frase o leyenda que se emplea como complemento de una marca o de un nombre comercial. En publicidad se llama eslogan","https://prointelecto.com/faq/0106-que-es-un-lema-comercial","2020-09-17T09:36:03-0600","2020-09-17T09:36:03-0600",metaOgImg[0])