include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
 include ../base/_headask.pug
  +metadata(ask_2[3]+" - "+title,"Descripción","https://prointelecto.com/faq/0204-una-solicitud-de-registro-de-marca-puede-ser-negada","article","https://prointelecto.com/assets/img/banner/banner.png","Banner con el logotipo de Prointelecto")
  +article("https://www.facebook.com/prointelecto/","2020-08-31T13:12:54+00:00","2020-08-31T13:12:54+00:00")
 
 body.-bg
  // menu
  include ../base/_header.pug

  // hero
  +heroFaq(linksUrl[1]+linksInternos[4],askSections[1])
  // contact
  include ../components/faq/answers/_0204.pug

  // contact
  include ../components/faq/_contact.pug

  // Footer
  include ../base/_footer.pug