include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headask.pug
  +metadata("Registro de marca a nivel internacional"+metaFirm,"El registro de marca es nacional y para obtenerlo en varios países debe presentarse una solicitud en cada uno de los países en los que se quiere proteger",metaAuthor[1],"https://prointelecto.com/faq/0207-existe-un-registro-de-marca-a-nivel-internacional",metaType[1],metaTypeImg[0],metaOgImg[0],metaImgAlt[0],metaTwitter[1])
  +article("2020-08-31T13:12:54+00:00","2020-08-31T13:12:54+00:00")
 
 body.-bg
  // menu
  include ../base/_header.pug

  // hero
  +heroFaq(linksUrl[1]+linksInternos[4]+"#faq2",askSections[0],ask_2[6])

  // contact
  include ../components/faq/answers/_0207.pug

  // contact
  include ../components/faq/_contact.pug

  // Footer
  include ../base/_footer.pug
  
  // Google Rich Card
  +jsonOrganization()