include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headask.pug
  +metadata("Otros signos comerciales que se puedan registrar"+metaFirm,"Además de la marca, hay otros signos que se pueden registrar: los nombres comerciales y los lemas comerciales",metaAuthor[1],"https://prointelecto.com/faq/0301-existen-otros-signos-comerciales-que-se-puedan-registrar",metaType[1],metaTypeImg[0],metaOgImg[0],metaImgAlt[0],metaTwitter[1])
  +article("2020-08-31T13:12:54+00:00","2020-08-31T13:12:54+00:00")
 
 body.-bg
  // menu
  include ../base/_header.pug

  // hero
  +heroFaq(linksUrl[1]+linksInternos[4]+"#faq3",askSections[0],ask_3[0])

  // contact
  include ../components/faq/answers/_0301.pug

  // contact
  include ../components/faq/_contact.pug

  // Footer
  include ../base/_footer.pug

  // Google Rich Card
  +jsonOrganization()