include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headask.pug
  +metadata("Otros signos comerciales que se puedan registrar"+metaFirm,"Además de la marca, hay otros signos que se pueden registrar: los nombres comerciales y los lemas comerciales",metaAuthor[1],"https://prointelecto.com/faq/0301-existen-otros-signos-comerciales-que-se-puedan-registrar",metaType[1],metaTypeImg[0],metaOgImg[0],metaImgAlt[0],metaTwitter[1])
  +article("2020-09-17T09:36:03-0600","2020-09-17T09:36:03-0600")
  include ../base/_headjs.pug
 
 body.-bg
  // menu
  include ../base/_header.pug

  // hero
  +heroFaq(askSections[2])

  // contact
  include ../components/faq/answers/_0301.pug

  // contact
  include ../components/faq/_contact.pug

  // Footer
  include ../base/_footer.pug

  // Google Rich Card
  +jsonOrganization()
  +jsonArticle(metaAuthor[2],"Otros signos comerciales que se puedan registrar","Además de la marca, hay otros signos que se pueden registrar: los nombres comerciales y los lemas comerciales","https://prointelecto.com/faq/0301-existen-otros-signos-comerciales-que-puedan-registrarse","2020-09-17T09:36:03-0600","2020-09-17T09:36:03-0600",metaOgImg[0])