include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headask.pug
  +metadata("Ventajas de usar marcas registradas"+metaFirm,"La marca registrada permite defenderse legalmente de la piratería. Incluirla en balances y estados financieros. Se puede ceder, vender, licenciar y más",metaAuthor[1],"https://prointelecto.com/faq/0404-cuales-son-las-ventajas-de-usar-marcas-registradas",metaType[1],metaTypeImg[0],metaOgImg[0],metaImgAlt[0],metaTwitter[1])
  +article("2020-09-17T09:36:03-0600","2020-09-17T09:36:03-0600")
  include ../base/_headjs.pug
 
 body.-bg
  // menu
  include ../base/_header.pug

  // hero
  +heroFaq(askSections[3])

  // contact
  include ../components/faq/answers/_0404.pug

  // contact
  include ../components/faq/_contact.pug

  // Footer
  include ../base/_footer.pug
  
  // Google Rich Card
  +jsonOrganization()
  +jsonArticle(metaAuthor[2],"Ventajas de usar marcas registradas","La marca registrada permite defenderse legalmente de la piratería. Incluirla en balances y estados financieros. Se puede ceder, vender, licenciar y más","https://a.prointelecto.com/faq/0404-ventajas-de-usar-marcas-registradas","2020-09-17T09:36:03-0600","2020-09-17T09:36:03-0600",metaOgImg[0])