include lib/_var.pug
include lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include base/_head.pug
  include base/_headstyle.pug
  +metadata("Mensaje enviado con exito!!"+metaFirm,"El mensaje ha sido enviado",metaAuthor[0],"https://prointelecto.com/mensaje",metaType[0],metaTypeImg[0],metaOgImg[0],metaImgAlt[0],metaTwitter[1])
  meta(name="robots", content="noindex")
  meta(name="googlebot-news", content="nosnippet")
  include base/_headjs.pug

 body.-bg
  // menu
  include base/_header.pug

  // Hero
  section.o-hero.-padSmTop
   .m-heroContent
    .-ContainerUniversal
     +breadcrumb("Mensaje enviado")

  // Mensaje
  section.o-highlight.-padMdTop
   .-headerImg.-ContainerUniversal
    .m-headerImg
     img(src=linksUrl[1]+"assets/img/recursos/forma-fdr.svg", alt="Ilustración de plantilla de registro de marca, Flat design")
   .-ContainerUniversal.-pRelative
    .-squareOrange.-icon.-iconLeftBottom.-zI-1

    .m-highlight.-send
     h1.-h3.-semiBold.-padSmBottom Ya puedes descargar la guía!
     p.-padSmBottom Prointelecto es una empresa de servicios jurídicos para registro de marca en Venezuela y Colombia. Aquí te dejamos una guía de cómo registrar tu marca en territorio Venezolano.
     a(href=linksUrl[1]+'assets/pdf/guia_registrar_tu_marca.pdf').a-button.a-noMargin
      button.a-btn.-btnSecondary(type="button") Descargar Guía
 
  // Footer
  include base/_footer.pug

  // Google Rich Card
  +jsonOrganization()