include lib/_var.pug
include lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include base/_head.pug
 include base/_headstyle.pug
  +metadataCourse(title+" - Propiedad Intelectual a su Alcance","Descripción","https://monlogo.co/","website","https://monlogo.co/assets/img/banner/banner.png","Banner con el logotipo de Prointelecto")
  meta(name="googlebot-news", content="nosnippet")
 
 body.o-colorIndex.-bg
  // menu
  include base/_header.pug

  // hero
  include components/index/_hero.pug

  // Cómo lo hacemos hdwdi
  include components/index/_hdwdi.pug
 
  // Blog
  include components/index/_stuff.pug

  // Nuestros clientes
  include components/index/_customers.pug

  // Contactar
  include components/index/_cta.pug
 
  // Footer
  include base/_footer.pug