include lib/_var.pug
include lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include base/_head.pug
  include base/_headblog.pug
  +metadata(titles[0]+metaFirm,"Abogados especialistas en Propiedad Intelectual. Registro de Marcas fácil serio confiable y profesional  por mas de 20 años, más de 350 marcas registradas ",metaAuthor[0],"https://prointelecto.com/nosotros",metaType[0],metaTypeImg[0],metaOgImg[0],metaImgAlt[0],metaTwitter[1])
  meta(name="googlebot-news", content="nosnippet")
  include base/_headjs.pug

 body.-bg
  // menu
  include base/_header.pug

  // Hero
  include components/nosotros/_hero.pug
  
  // Article
  include components/nosotros/_article.pug

  // Contactar
  include components/nosotros/_subtitle.pug

  // Footer
  include base/_footer.pug
  
  // Google Rich Card
  +jsonOrganization()