section.o-contact.-padMdTop.-zI10.-pRelative
 .m-contact__content.-ContainerBlog
  .m-contact__grid.-zI10
   .m-contact__form
    form(action=linksUrl[1]+"assets/php/info.php", method="POST")
     .m-form
      h1.-h3 Complete el formulario y le contáctaremos
      .m-form__group
       label Nombre #[i.-required *]
       input.-mXsRight.-mSmSmBottom(type="text", name="nombre", id="", required)
      .m-form__group
       label Correo electrónico #[i.-required *]
       input.-mXsRight.-mSmSmBottom(type="email", name="email", id="", required)
      .m-form__group.-grid-2columns
       .m-form__item
        label Ciudad #[i.-required *]
        input.-mXsRight.-mSmSmBottom(type="address", name="ciudad", id="", required)
       .m-form__item
        label País #[i.-required *]
        input.-mXsRight.-mSmSmBottom(type="address", name="pais", id="", required)
      .m-form__group
       label ¿En qué le podemos ayudar? #[i.-required *]
       textarea.-formControl(name="mensaje", id="", rows="3", required)
      .m-form__group
       label Se enteró de nosotros por: #[i.-required *]
       select(name="encontrarnos", id="encontrarnos", onchange="others(event)", required)
        option(value, selected, disabled) Seleccionar
        option(value="Facebook") Facebook
        option(value="Google") Google
        option(value="Instragram") Instragram
        option(value="MercadoLibre") MercadoLibre
        option(value="Un amigo o conocido") Un amigo o conocido
        option(value="Otros") Otros
      
      #othersOption

      .spam
       label url
       input#dejarenblando(type="text", name="dejarenblando")
       label numero de telefono (No cambiar esto)
       input(type="text", value="http://", name="nocambiar")
      
      p.-mSmBottom #[i.-required *] Información obligatoria
       
      .a-button.a-noMargin
       button.a-btn.-btnPrimary.-btnBlock(type="submit") Enviar
