section.o-contact.-padMdTop
 .-ContainerUniversal.a-noPadding
  .m-ctaBox.-only.-calm.-shadow
   .m-ctaBox__img
    img(src=linksUrl[1]+"assets/img/recursos/servicios.svg", alt="Ilustración de aplicaciones de servicios de registro de marca, Flat design")
   .m-ctaBox__text
    h3.-colorLightin ¿Todavía no sabe qué ofrecemos?
    p.-colorLightin Visite nuestra página de servicios para que conozca todos los detalles
   a(href=linksUrl[1]+linksInternos[1]).a-button
    button.a-btn.-btnCalm(type="button") Servicios
