section.o-contact.-padMdTop
 .-ContainerUniversal.a-noPadding
  .m-ctaBox.-only.-calm.-shadow
   .m-ctaBox__img
    img(src=linksUrl[1]+"assets/img/fdr/calendar.svg", alt="")
   .m-ctaBox__text
    h3.-colorLightin ¿Todavía no sabes que ofecemos?
    p.-colorLightin Ve a nuestros servicios para ver a que nos dedicamos
   a(href=linksUrl[1]+linksInternos[1]).a-button
    button.a-btn.-btnCalm(type="button") Servicios
