include ../lib/_var.pug
include ../lib/_varblog.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headblog.pug
  +metadata(blogS_1[0],"La marca es esencial para el mercadeo, la tramitaci칩n temprana de su registro evitar치 que otro lo haga antes que usted y luego pueda impedirle su uso",metaAuthor[1],"https://prointelecto.com/blog/0101-registra-tu-marca-no-pierdas-tus-esfuerzos-de-mercadeo",metaType[1],metaTypeImg[1],blogImgUrl_1[0],"imagen del blog de Prointelecto",metaTwitter[1])
  +article("2020-08-31","2020-08-31")

 body.-bg
  // menu
  include ../base/_header.pug

  // Nav
  include ../components/blog/_nav.pug
  include ../components/blog/_navmd.pug

  // Article
  include ../components/blog/article/_0101.pug

  // Others articles
  +pi("-hide","","")
 
  // Footer
  include ../base/_footer.pug

  // Google Rich Card
  +jsonOrganization()
  +jsonArticle(metaAuthor[2],blogS_1[0],"La marca es esencial para el mercadeo, la tramitaci칩n temprana de su registro evitar치 que otro lo haga antes que usted y luego pueda impedirle su uso","https://prointelecto.com/blog/0101-registra-tu-marca-no-pierdas-tus-esfuerzos-de-mercadeo","2020-08-31","2020-08-31",blogImgUrl_1[0])