include ../lib/_var.pug
include ../lib/_varblog.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headblog.pug
  +metadata("Artículos sobre Propiedad Intelectual y otras áreas de servicios"+metaFirm,"Conozca más sobre Registro de Marcas, Propiedad Intelectual y más; leyendo los artículos que periódicamente publicamos aquí",metaAuthor[0],"https://prointelecto.com/blog/",metaType[0],metaTypeImg[0],metaOgImg[0],metaImgAlt[0],metaTwitter[1])
  meta(name="googlebot-news", content="nosnippet")

 body.-bg
  // menu
  include ../base/_header.pug
 
  // Nav
  include ../components/blog/_nav.pug

  // All
  include ../components/blog/index/_all.pug

  //- Propiedad Intelectual
   include ../components/blog/index/_pi.pug

  //- Franquicias
   include ../components/blog/index/_fr.pug

  // Footer
  include ../base/_footer.pug
  
  // Google Rich Card
  +jsonOrganization()