include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
 include ../base/_headblog.pug
  +metadata(titles[4]+" - "+title,"Descripción","https://prointelecto.com/blog/","website","https://prointelecto.com/assets/img/banner/banner.png","Banner con el logotipo de Prointelecto")
  meta(name="googlebot-news", content="nosnippet")

 body.o-colorIndex.-bg
  // menu
  include ../base/_header.pug

  // Nav
  include ../components/blog/index/_nav.pug

  // All
  include ../components/blog/index/_all.pug

  // Propiedad Intelectual
  include ../components/blog/index/_pi.pug

  // Franquicias
  include ../components/blog/index/_fr.pug

  // Footer
  include ../base/_footer.pug