include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
 include ../base/_headstyle.pug
  +metadata(services[1]+" - "+title,"Descripción","https://prointelecto.com/fases-de-registro","website","https://prointelecto.com/assets/img/banner/banner.png","Banner con el logotipo de Prointelecto")
  meta(name="googlebot-news", content="nosnippet")
 
 body.o-colorIndex.-bg
  // menu
  include ../base/_header.pug

  // hero
  include ../components/servicios/fdr/_hero.pug

  // dropdown
  include ../components/servicios/fdr/_dropdown.pug

  // call-to-action
  include ../components/servicios/fdr/_cta.pug

  // Footer
  include ../base/_footer.pug