include ../lib/_var.pug
include ../lib/_mixin.pug
<!DOCTYPE html>
html(lang="es")
 include ../base/_head.pug
  include ../base/_headstyle.pug
  +metadata(titles[1]+metaFirm,"Prointelecto Servicios para Registro de marcas y trámites relacionados. Estudios Jurídicos y Contratos relacionados con Propiedad Intelectual",metaAuthor[1],"https://prointelecto.com/servicios/",metaType[0],metaTypeImg[0],metaOgImg[0],metaImgAlt[0],metaTwitter[1])
  meta(name="googlebot-news", content="nosnippet")

 body.-bg
  // menu
  include ../base/_header.pug

  // hero
  include ../components/servicios/servicios/_hero.pug

  // call-to-action
  include ../components/servicios/servicios/_content.pug

  // call-to-action
  include ../components/servicios/servicios/_cta.pug

  // Footer
  include ../base/_footer.pug
  include ../base/_nav-segment.pug

  // Google Rich Card
  +jsonOrganization()