section.o-hero.-faqAnswer#main
 .main
  .m-waves__container
   .m-waves
    .a-wave.-a
    .a-wave.-b
    .a-wave.-c
  .m-heroContent.-waveHero.container
   .content.-ContainerUniversal
    .m-heroContent__text.-center
     .a-heroContent__text
      .m-searchBar.-mSmTop
       form(action="")
        .m-form.-faq
         .m-form__group
          input(type="text", name="search", placeholder="Buscar")
         .a-button.-textRight.a-noMargin
          button.a-btn.-btnSecondary.-btnSearch(type="submit") Enviar
      ol.m-breadcrumbs.-mSmTop
       li: a.a-breadcrumb.-colorLightin(href=linksUrl[1]+linksInternos[4]) #{titles[2]}
       b(class="-regular -slash -colorLightin") /
       li: p.a-breadcrumb.-colorLightin Generales