section.o-contact.-padMdBottom.-padMdTop
 .-ContainerUniversal
  .m-ctaBox.-only.-shadow
   .m-ctaBox__img
    img(src=linksUrl[1]+"assets/img/recursos/forma-rdm.svg", alt="Ilustración de formulario de registro, Flat design")
   .m-ctaBox__text
    h3.-colorLightin Comienza tus trámites ya
    p.-colorLightin Contáctanos ahora mismo para empezar
   a(href=linksUrl[1]+linksInternos[7]).a-button
    button.a-btn.-btnSecondary(type="button") Contactar
