section.o-accordion.-fdr.-padMdBottom.-padXsTop
 .m-accordion__content.-ContainerUniversal
  div.-fadeInUp(class="o-faq__wrapper -shadow", data-artucle-title="overview")
   div(class="tab-pane fade show active -bg", id="pills-home" role="tabpanel", aria-labelledby="pills-home-tab")
    ol(class="wow faq-list", style="visibility: visible;")
     li
      +nameFaq("faq1","Primera Fase - Estudio de Viabilidad de Registro")
      .collapse.m-faq__text#faq1
       p Determinamos la viabilidad del registro de su marca, nombre o lema comercial, de acuerdo a las leyes de la materia y conforme a un reporte de Búsqueda de Antecedentes con Parecido Fonético o Gráfico emitido por el sistema de base de datos de la Oficina Nacional de Registro correspondiente.
       p El cliente recibirá un Informe en formato digital que le informará sobre:
       ol.m-listContent.-check
        li: p Prohibiciones legales que hagan inviable el registro de la marca, nombre o lema comercial propuesto.
        li: p La existencia de antecedentes de marcas, nombres o lemas comerciales registrados, o en trámite, en base a los cuales se corre el riesgo de que el registro pretendido sea negado por la Oficina Nacional de Registro, o pueda ser objeto de oposiciones por parte de terceros.
        li: p Conclusiones y recomendaciones de nuestros expertos.
       p El envío del informe se realiza en formato digital vía correo electrónico dentro de los treinta (30) días hábiles siguientes de haberse verificado la contratación del servicio.
       h3.-uppercase.-padXsTop Notas importantes #[hr]
       p #[b.-semibold Nota 1:] Si la marca o nombre comercial que desea registrar está compuesta tanto por elementos denominativos como gráficos, se deben hacer dos (2) estudios, uno por la parte denominativa y otro por la parte gráfica.
       p #[b.-semibold Nota 2:] Todos los trámites de registro de marcas se realizan por Clases de Productos o Servicios específicos, cada Clase precisa un trámite.
       p Las Clases de Productos y Servicios, son un conjunto de renglones enumerados que conforman un listado definido por la ley.
       p Cada renglón agrupa productos o servicios con características similares, como los materiales con los cuales están hechos, sus usos, funciones, canales de comercialización, etc.
       p Al entrar en contacto con nuestros asesores le orientaremos acerca de la (s) clase (s) en que se ubican los productos y/o servicios para los cuales le interesaría proteger su marca.

     li
      +nameFaq("faq2","Segunda Fase - Solicitud de Registro")
      .collapse.m-faq__text#faq2
       p Elaboramos y presentamos su solicitud de registro de marca, nombre o lema comercial ante la Oficina Nacional de Registro. Vigilamos y hacemos seguimiento del trámite y le notificamos vía correo electrónico, cuando ocurran los cambios de estatus de su solicitud dentro del procedimiento de registro ante la Oficina Nacional de Registro.
       p Este servicio incluye:
       ol.m-listContent.-check
        li: p La elaboración de su solicitud de registro por abogados expertos en la materia, cumpliendo con las formalidades y entrega de recaudos que la Oficina Nacional de Registro exige.
        li: p Presentación de la solicitud de registro ante la Oficina Nacional de Registro, incluyendo el pago de todos los tributos, tasas y timbres correspondientes, incluyendo el costo de publicación legal en prensa.
        li: p Vigilancia mensual del procedimiento hasta la decisión de la concesión o negativa del registro, y notificación vía correo electrónico de cualquier novedad dentro del trámite.
        li: p Envío por correo electrónico de copias digitales del Periódico Digital de la Oficina de Registro en el que se verifique la publicación legal de la solicitud de registro.
        li: p Notificación oportuna vía correo electrónico de los cambios de estatus de la solicitud dentro del procedimiento con indicación de las actuaciones a realizar de acuerdo a la ley, evitando cualquier pérdida de derechos por caducidad de los plazos legales.

       p Envío de soportes del trámite al Cliente en formato digital por correo electrónico, dentro de los treinta (30) días hábiles siguientes de haber ordenado el servicio y de haber recibido todos los recaudos.
       p Esta fase puede durar de 8 a 14 meses.
       p Este servicio #[b.-medium.-uppercase no incluye] de reingresos, contestación a oposiciones, recursos administrativos, tramitación de derechos finales y certificado de registro.

     li
      +nameFaq("faq3","Tercera Fase - Tramitación de Derechos Finales y Certificado de Registro")
      .collapse.m-faq__text#faq3
       p Tramitamos el pago de los Derechos Finales y Certificado de Registro dentro del lapso legal establecido, una vez que la solicitud de registro de su marca, nombre o lema comercial, ha sido concedida por la Oficina Nacional de Registro.
       p Este servicio incluye:
       ol.m-listContent.-check
        li: p Cancelación de los Derechos de Registro y Certificado dentro del lapso legal establecido, evitando la pérdida de los derechos concedidos.
        li: p Vigilancia del estatus administrativo de la Solicitud de Registro Concedida hasta la asignación del número de registro.
        li: p Obtención del Certificado de Registro digital correspondiente y su envío por correo electrónico al cliente.
        
       p Entrega de soportes del trámite al Cliente dentro de los treinta (30) días hábiles siguientes de haber ordenado el servicio.
       p Esta fase puede durar de 2 a 4 meses para la emisión y envío del Certificado de Registro digital.
       p Este servicio #[b.-medium.-uppercase no incluye] tramitación de recursos administrativos y/o recurso jerárquicos o tramitación de escritos diligenciativos.