section.o-text.-padMdTop
 .m-text.-ContainerUniversal
  h1.-h2.-padXsBottom Trámite de Registro de Marca
  .m-article__header.-textContent.-pRelative
   .m-article__summary
    p Nuestros servicios de Registro de Marcas, Nombres y Lemas Comerciales se prestan en tres (3) fases. La duración promedio de todo el trámite, con sus 3 fases, es de 12 a 18 meses, si no hay oposiciones por parte de terceros.
    p Después de presentada su solicitud de registro, nuestro equipo hace un seguimiento cuidadoso del trámite y le notifica en tiempo oportuno cuando se requiera de la contratación de los servicios de las siguientes fases.
    p Conozca en detalle cada una de las fases:
   .m-article__img
    img(src=linksUrl[1]+"assets/img/recursos/forma-fdr.svg", alt="Ilustración de plantilla de registro de marca, Flat design")