.m-breadcrumbs {
    display: block;
    .a-breadcrumb {
        font-size: $fontS2;
    }
    a.a-breadcrumb:hover {
        color: $color-alert;
    }
    .a-breadcrumb:hover {
        color: $color-darkgrey;
    }
    li {
        display: inline;
        max-width: 450px;
        overflow: hidden;
        text-overflow: ellipsis;
        &::before {
            content: "/";
            margin: 0 calc(#{$spaceXs} / 1.2);
        }
        &:first-child::before {
            content: none;
        }
    }
    @include mediaQueriesMd {
        margin-bottom: calc(#{$spaceXs} / 2);
        .a-breadcrumb {
            font-size: $fontSM1;
        }
        li {
            &::before {
                margin: 0 calc(#{$spaceXs} / 2) 0 calc(#{$spaceXs} / 4);
            }
        }
    }
}