.o-contact {
    &.-index {
        background-position: 35% center;
    }
    @include mediaQueriesMd {
        &.-index {
            h2 {
                margin-bottom: $spaceXs;
            }
        }
    }
}
.o-subtitle {
    margin-top: -$spaceMd;
}

.m-contact__content {
    background-color: $color-primary;
    background-image: url('../img/index/background_contact.png');
    border-radius: 4px;
    padding: $spaceRg;
    margin-top: -$spaceBg;
    @include mediaQueriesMd {
        padding: $spaceRg $spaceXs;
    }
}
.m-contact__grid {
    position: relative;
    margin: 0 auto;
    max-width: 60%;
    @include mediaQueriesMd {
        max-width: 100%;
    }
}
.m-contact__text {
    grid-area: conText;
    @include mediaQueriesMd {
        margin: 0 auto;
        width: 70%;
    }
    @include mediaQueriesSm {
        width: 80%;
    }
    @include mediaQueriesXs {
        width: 100%;
    }
}
.m-contact__form {
    width: 100%;
    background: $color-lightin;
    border-radius: 4px;
    box-shadow: $shadow1;
    @include mediaQueriesMd {
        margin: 0 auto;
        width: 70%;
    }
    @include mediaQueriesSm {
        width: 90%;
    }
    @include mediaQueriesXs {
        width: 100%;
    }
}
.m-form {
    width: 100%;
    padding: $spaceSm;
}
.m-form__group {
    position: relative;
    margin: $spaceXs 0 $spaceSm 0;
    display: flex;
    &.-radio {
        flex-direction: row;
        justify-content: center;
        [type=radio] {
            // appearance: none;
            border-radius: 50%;
            width: $spaceXs;
            border: 2px solid #999;
            transition: 0.2s all linear;
            margin-right: $spaceXs;
            position: relative;
            top: -4px;
        }
    }
    .a-radioCheck {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input, textarea, select {
        font-weight: 400;
        display: block;
        width: 100%;
        padding: $spaceXs calc(#{$spaceXs} + 5px);
        height: 50px;
        background-color: $color-lightin;
        background-clip: padding-box;
        border: 1px solid $color-grey;
        border-radius: 4px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    textarea.-formControl {
        height: auto;
    }
    input:focus, textarea:focus, select:focus {
        background-color: #fff;
        border-color: rgba($color-primary, 0.8);
        outline: 0;
        box-shadow: 0 0 10px rgba($color-primary, 0.1);
    }
    label {
        transition: 0.5s ease all;
        pointer-events: none;
        margin-bottom: calc(#{$spaceXs} / 2);
    }
    @include mediaQueriesSm {
        flex-direction: column;
    }
}

.o-contant__buttons {
    justify-content: center;
    align-items: center;
    @include mediaQueriesMd {
        margin-top: $spaceSm;
    }
}

.m-contant__content {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $spaceRg;
    @include mediaQueriesMd {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}
.m-ctaBox {
    @extend .-bg;
    padding: $spaceXs;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    &.-only {
        @extend .-bgPri;
        padding: $spaceSm $spaceXs;
        display: flex;
        .m-ctaBox__text {
            width: 80%;
        }
        .m-ctaBox__img {
            width: 280px;
            top: -$spaceRg;
        }
        .a-button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &.-calm {
        @extend .-bgCalm;
    }
    .m-ctaBox__img {
        position: absolute;
        top: -$spaceXs;
        left: 0;
        width: 190px;
    }
    .m-ctaBox__text {
        position: relative;
        z-index: 5;
        margin-left: auto;
        max-width: 60%;
        display: flex;
        flex-direction: column;
        .a-button {
            margin-left: auto;
        }
    }
    @include mediaQueriesLg {
        .m-ctaBox__text {
            max-width: 48%;
        }
        &.-only {
            flex-direction: column;
            .m-ctaBox__text {
                width: 100%;
                max-width: 100%;
                text-align: center;
                margin-bottom: $spaceXs;
            }
            .m-ctaBox__img {
                display: none;
            }
        }
    }
    @include mediaQueriesMd {
        .m-ctaBox__text {
            max-width: 60%;
        }
    }
    @include mediaQueriesXs {
        .m-ctaBox__text {
            max-width: 100%;
        }
        .m-ctaBox__img {
            top: $spaceBg;
        }
    }
}