.o-faq__wrapper {
    border-radius: 4px;
    overflow: hidden;
}
.tab-pane {
    box-shadow: $shadow1;
}

.faq-list {
    padding: 0;
    list-style: none;
}


ol.faq-list {
    margin: 0;
    & > li {
        position: relative;
        padding: 0;
        & li {
            border: none;
            position: static;
        }
        &::marker {
            visibility: visible;
        }
    }
    .-check__container {
        li {
            border-bottom: none;
        }
        p:first-child {
            padding-top: 0;
        }
    }
}

.-fdr .m-faq__text {
    @include mediaQueriesSm {
        p, h3 {
            padding-left: $spaceSm;
            padding-right: $spaceSm;
        }
        .m-listContent {
            padding: 0 $spaceXs;
            li p {
                padding-left: $spaceXs + 3;
            }
        }
    }
}
.m-faq__text {
    padding: $spaceXs 0;
    background-color: #F8FAFB;
    border-bottom: 1px solid $color-lightgrey;
    li {
        position: relative !important;
        display: block;
        padding: $spaceXs $spaceRg;
    }
    .m-listContent li {
        padding: 0;
        p {
            padding-left: $spaceSm;
        }
    }
    p, h3 {
        padding: 0 $spaceRg;
        padding-bottom: $spaceXs;
    }
    @include mediaQueriesMd {
        padding-bottom: $spaceRg;
    }
}
.a-faq__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: .5s;
    line-height: 1.4;
    border-bottom: 1px solid $color-lightgrey;
    &::after {
        display: block;
        width: $spaceXs;
        position: absolute;
        right: $spaceXs;
        margin: 2px 5px 0;
        content: url('../img/icons/big-down-arrow.svg');
    }
    &[aria-expanded=true] {
        &::after {
            transform: rotate(180deg);
        }
    }
    .-fdr & p.-title {
        padding-left: $spaceSm;
    }
    p.-title {
        @extend .-semiBold;
        padding: $spaceSm $spaceRg;
        max-width: 88%;
        &:hover {
            color: $color-secondary;
        }
        &:active, &:focus {
            outline: none;
            text-decoration: underline;
        }
    }
}
