.o-footer {
    background-color: $color-lightin;
    .-logo {
        width: $spaceBg;
    }
}
.o-upFooter {
    margin-top: $spaceBg;
    padding: calc(#{$spaceXs} / 2) 0;
    background-color: $color-secondary;
    &:hover {
        background-color: darken($color-secondary, $amount: 5%);
    }
}
.-footerIndex {
    padding-top: calc(#{$spaceBg} * 1.5);
}

.m-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "usFooter courFooter artiFooter subsFooter";
    grid-gap: 0 $spaceSm;
    h3 {
        padding-bottom: $spaceXs;
    }
    @include mediaQueriesMd {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "usFooter usFooter" "courFooter artiFooter" "subsFooter subsFooter";
        grid-gap: $spaceSm;
        justify-content: start;
        .m-ctaBox {
            margin-top: $spaceSm;
            .m-ctaBox__img {
                width: 38%;
                top: -$spaceMd;
            }
            p {
                font-size: $fontS3;
            }
        }
    }
    @include mediaQueriesXs {
        .m-ctaBox {
            .m-ctaBox__img {
                width: 38%;
                top: -$spaceXs;
            }
        }
    }
}

.m-footer__logo {
    grid-area: logoFooter;
    margin-bottom: $spaceRg;
    padding-right: $spaceXs;
    margin-right: auto;
    img {
        width: 200px;
    }
    @include mediaQueriesMd {
        margin-bottom: 0;
    }
}

.m-footer__us {
    grid-area: usFooter;
}
.a-footerIcons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: -$spaceXs;
    margin-top: $spaceXs;
    margin-left: $spaceXs;
    .a-instagram {
        margin-right: $spaceXs;
    }
    @include mediaQueriesMd {
        margin-top: 12px;
    }
}

.m-footer__course {
    grid-area: courFooter;
}

.m-footer__article {
    grid-area: artiFooter;
    @include mediaQueriesMd {
        padding-left: $spaceXs;
    }
}

.m-footer__subs {
    grid-area: subsFooter;
}

.m-footer__copy {
    grid-area: copyFooter;
    padding-bottom: $spaceXs;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    .a-world {
        position: relative;
        top: 4px;
        margin-left: 5px;
        margin-right: 5px;
    }
    @include mediaQueriesMd {
        justify-content: center;
    }
}

.m-footer__things {
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    align-items: center;
    @include mediaQueriesMd {
        justify-content: center;
    }
}



.o-footerDeco {
    .a-thingsLeft {
        position: absolute;
        width: 230px;
        bottom: -$spaceBg;
    }
    @include mediaQueriesSm {
        .a-thingsLeft {
            left: -$spaceMd;
        }
    }
    @include mediaQueriesXs {
        .a-thingsLeft {
            left: -80px;
        }
    }
}

// Firm Dev
.o-footerFirmDev {
    .-logoMonlogo {
        display: flex;
        justify-content: center;
        img {
            position: absolute;
            bottom: -$spaceSm;
            opacity: .7;
            width: $spaceRg;
        }
    }
}

.m-footerFirmDev {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $spaceSm;
    @include mediaQueriesSm {
        padding-bottom: $spaceRg;
        p {
            font-size: $fontS1;
        }
    }
}

.m-backFooter {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: $spaceBg;
    margin-bottom: $spaceMd;
    @include mediaQueriesSm {
        margin-right: $spaceRg;
        margin-bottom: $spaceRg;
    }
}