// Menus, y navegación
.o-nav {
    position: relative;
    z-index: 2;
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
}

.o-navFixedContainer {
    width: 100%;
    height: 80px;
    transition: height 0.25s ease-in-out 0s;
    @include mediaQueriesMd {
        height: 54px;
    }
}


.o-nav__content {
    height: inherit;
    display: grid;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 100%;
    grid-gap: $spaceSm;
    grid-template-areas: "brand contentItem";
    padding: 4px 7% 0;
    align-items: center;
    justify-items: flex-end;
    background-color: $color-lightin;
    @include mediaQueriesLg {
        padding: 8px 5% 5px;
        grid-gap: 0 $spaceXs;
    }
    @include mediaQueriesMd {
        padding: 8px $spaceSm 5px;
        grid-template-columns: auto $spaceXs;
        grid-gap: $spaceXs;
        grid-template-areas: "brand burguer";
        justify-items: flex-start;
    }
}

.a-brand {
    display: flex;
    align-items: center;
    &__Img {
        grid-area: brand;
        width: 120%;
    }
    @include mediaQueriesLg {
        &__Img {
            width: 145%;
        }
    }
    @include mediaQueriesMd {
        box-sizing: border-box;
        &__Img {
            width: 200px;
        }
    }
}

.a-brandMobile {
    padding-top: $spaceXs;
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    box-sizing: content-box;
    .a-brandMobile__Img {
        width: 200px;
    }
    @include mediaQueriesMd {
        display: block;
    }
}

.m-itemContent {
    &.-isActive {
        top: 0;
        left: 0;
        bottom: 0;
    }
    .a-burguerOut {
        display: none;
    }
    .a-brand {
        display: none;
    }
    .-btnPrimary {
        display: none;
    }
    @include mediaQueriesMd {
        position: fixed;
        top: -200vh;
        background-color: $color-lightin;
        width: 100vw;
        display: flex;
        align-items: flex-start;
        justify-content: start;
        flex-direction: column;
        transition: .3s;
        .a-brand {
            display: block;
        }
        .a-burguerOut {
            display: block;
            position: absolute;
            right: 30px;
            top: 25px;
        }
        .a-button .-btnPrimary {
            display: flex;
        }
    }
}
.m-itemContent__container {
    height: 100%;
}
.m-itemContent__list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    list-style: none;
    position: relative;
    height: 100%;
    grid-area: contentItem;
    li {
        position: relative;
        height: 100%;
        margin-right: 25px;
        padding-bottom: 0;
        &:last-child {
            margin-right: 0;
        }
    }
    li ul {
        display: none;
        position: absolute;
        white-space: nowrap;
        margin: 0;
        padding: 0 22px $spaceSm $spaceSm;
        background: $color-lightin;
        top: 60px;
        left: 0;
        z-index: 5;
        border-radius: 0 0 $spaceXs $spaceXs;
        overflow: hidden;
    }
    & li:hover ul, & li:focus ul {
        display: block;
    }
    & li:hover li, & li:focus li {
        margin-top: $spaceSm;
        padding: 0;
    }
    @include mediaQueriesMd {
        height: auto;
        max-width: 100%;
        margin-left: $spaceSm;
        padding-top: 0;
        padding-left: 0;
        margin-top: $spaceSm;
        margin-bottom: $spaceMd;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        li {
            height: auto;
            padding-top: $spaceSm;
            padding-left: $spaceXs;
            padding-right: 0;
            padding-bottom: 0;
        }
        li ul {
            padding: 0 $spaceXs;
            display: block;
            top: 40px;
        }
        ul li {
            padding-bottom: 0;
        }
        h3 {
            margin-bottom: $spaceXs;
        }
        .m-dropdownMenu__item {
            &::after {
                content: '';
                display: block;
                width: calc(95vw - #{$spaceRg});
                border-bottom: 1px dotted $color-grey;
                // background-color: $color-primary;
            }
        }
        & li:hover li, & li:focus li {
            padding-left: $spaceXs;
        }
    }
}

.m-CallToAction {
    grid-area: buttonCTA;
    display: flex;
    align-items: center;
    .a-iconMail {
        display: none;
    }
    @include mediaQueriesLg {
        justify-content: flex-end;
    }
    @include mediaQueriesMd {
        .-btnPrimary {
            display: none;
        }
        .a-iconMail {
            display: inline;
            padding-top: 5px;
            &__img {
                width: 20px;
            }
        }
    }
}

.a-burguer {
    grid-area: burguer;
    display: none;
    align-items: center;
    cursor: pointer;
    &__menu {
        width: 18px;
        color: $color-primary;
    }
     @include mediaQueriesMd {
        display: flex;
    }
}

.a-itemLink .-arrowDown {
    margin-left: 3px;
    margin-bottom: 2px;
}