.o-faqArticle {
    position: relative;
}
.o-faqArticle__content {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-gap: $spaceRg;
    @include mediaQueriesMd {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-gap: $spaceXs;
    }
}