section.o-contact.-padRgTop
 .-ContainerUniversal
  .m-ctaBox.-only.-shadow
   .m-ctaBox__img
    img(src=linksUrl[1]+"assets/img/recursos/forma-contact.svg", alt="Ilustración de formulario de contacto, Flat design")
   .m-ctaBox__text
    h3.-colorLightin ¿No encuentras respuesta a tu pregunta?
    p.-colorLightin Ve a nuestros servicios para ver a que nos dedicamos
   a(href=linksUrl[1]+linksInternos[5]).a-button
    button.a-btn.-btnSecondary(type="button") Contactar
