section.o-hero.-faq#main
 .main
  .m-waves__container
   .m-waves
    .a-wave.-a
    .a-wave.-b
    .a-wave.-c
  .m-heroContent.-waveHero.container
   .content.-ContainerUniversal
    .m-heroContent__text.-center
     .a-heroContent__title
      h1.-colorLightin.-bold ¿Podemos ayudarte?
     .a-heroContent__text
      p.-colorLightin.-light.-subtitle En Venezuela y Colombia sin moverte de tu oficina a través de nuestro servicio a distancia
      .m-searchBar.-mSmTop
       form(action="")
        .m-form.-faq
         .m-form__group
          input(type="text", name="search", placeholder="Buscar")
         .a-button.-textRight.a-noMargin
          button.a-btn.-btnSecondary.-btnSearch(type="submit") Enviar