section.o-hdwdi.-padMdTopBottom
 .-ContainerUniversal
  h2.-colorDarken.-medium.-mSmBottom Preguntas generales
  .m-box__group.-faq
   +boxItemFaq("1",linksUrl[1]+linksFaq[0],"-bg","Conceptos e información básica","https://theme.zdassets.com/theme_assets/680878/25ba6d89e902fcdc64cd1b187ff6213273a28052.svg")
   +boxItemFaq("2",linksUrl[1]+linksFaq[0],"-bg","Registro de Marcas","https://theme.zdassets.com/theme_assets/680878/b9005eeab719e98b8c076a3f0eca977d7016e281.svg")
   +boxItemFaq("3",linksUrl[1]+linksFaq[0],"-bg","Registro de otros signos comerciales","https://theme.zdassets.com/theme_assets/680878/d3054d6290f802e0009110cb4e29ea4b2de2477b.svg")
   +boxItemFaq("4",linksUrl[1]+linksFaq[0],"-bg","Por qué registrar su marca","https://theme.zdassets.com/theme_assets/680878/b74d1823d3a943f3f1e50c3f74057b6dfbc901e4.svg")