
<article class="o-article"></article>
<article class="o-article -padMdTop">
  <div class="m-article__header"></div>
  <div class="m-article__imgBg"></div>
  <div class="m-article__text -ContainerUniversal">
    <h3>Misión</h3>
    <p>Bajo el lema de propiedad intelectual a su alcance, Prointelecto opera teniendo como misión el desarrollo continuo de un sistema de atención al cliente y gestión de servicio que haga cada vez más fácil y accesible la contratación de nuestra empresa, para el registro y renovación de sus Marcas, Nombres y Lemas Comerciales; con un alto nivel de seriedad, confiabilidad y profesionalismo.</p>
  </div>
</article>