section.o-stuff.-padMdBottom.-padBgTop#allTopics
 .m-box__content.-ContainerUniversal
  .m-box__title.-mXsBottom
   h2.-colorDarken.-medium Blog
  .m-box__group.-index
   +boxItem("1", linksUrl[1]+blogSUrl_1[0], blogCat[0], blogS_1[0],"La marca es esencial para el mercadeo, que tiene como meta hacer y mantener una clientela. El registro de marca otorga derecho a su uso exclusivo y su tramitación temprana evita que personas ajenas, por desconocimiento o mala fe, tramiten el registro de una marca idéntica o similar antes que su verdadero creador.",linksUrl[1]+blogImgS_1[0], "d")
   +boxItem("2", linksUrl[1]+blogSUrl_1[1], blogCat[0], blogS_1[1],"Una marca reconocida, el know-how de un negocio, sus recetas o fórmulas secretas y software personalizados, entre otros; son objetos de Propiedad Intelectual que representan una ventaja competitiva para la empresa que los posee. Conoce lo que esto implica.",linksUrl[1]+blogImgS_1[1], "d")
   +boxItem("3", linksUrl[1]+blogSUrl_1[2], blogCat[0], blogS_1[2],"Nada más injusto que después de usted haya producido un evento con gran pegada comercial, venga un tercero a identificar un nuevo evento con la misma marca o imagen comercial que usted forjó, aprovechándose indebidamente de los frutos de su esfuerzo. Entérese cómo la Propiedad Intelectual lo ayuda en un caso así.",linksUrl[1]+blogImgS_1[2], "d")
