section.o-blog.-fr.-padMdBottom.-padBgTop#fr
 .m-box__content.-ContainerUniversal
  .m-box__title.-mXsBottom
   h2.-colorDarken.-medium #{blogCat[1]}
  .m-box__group
   .-row
    .-col-4.-colMd-6.-colSm-12.-padXsRL.-pad0Left
     +boxItemFr("#",blogCat[1],blogS_2[0],linksUrl[1]+"assets/img/blog/img_002.jpg","")
    .-col-4.-colMd-6.-colSm-12.-padXsRL
     +boxItemFr("#",blogCat[1],blogS_2[1],linksUrl[1]+"assets/img/blog/img_001.jpg","")
    .-col-4.-colMd-6.-colSm-12.-padXsRL.-pad0Rigth
     +boxItemFr("#",blogCat[1],blogS_2[2],linksUrl[1]+"assets/img/blog/img_003.jpg","")
