section.o-navBlog.-padBgTop.-hideMd
 .m-navBlog__content.-ContainerUniversal
  ul.-mXsBottom
   li: a.-footerLink.-semiBold.-uppercase.-mSmRight(href="#") All topics
   li: a.-footerLink.-semiBold.-uppercase.-mSmRight(href="#") Propiedad intelectual
   li: a.-footerLink.-semiBold.-uppercase.-mSmRight(href="#") Franquicia