section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_1[1]}
    p Es un procedimiento que se realiza ante una oficina pública (el registro de Marcas o de signos distintivos) que se inicia con una solicitud de registro de marca para la identificación de productos o servicios determinados y termina con la concesión de un certificado de registro de marca. Dicho certificado otorga al solicitante la titularidad del derecho de uso exclusivo de la marca solicitada para identificar los productos o servicios especificados en la solicitud.
    p La denominación “Registro de Marca” se emplea tanto para el procedimiento de obtención del certificado como para el certificado mismo y para referirse a la oficina pública que emite dicho certificado. Esta última, denominada en la mayoría de las leyes, normas y tratados como la Oficina Nacional Competente, será la que el gobierno haya creado para atender asuntos que tienen que ver con la Propiedad Industrial.
    p En Venezuela el Registro de Marcas es parte de una oficina denominada Servicio Autónomo de la Propiedad Intelectual (SAPI), que se encuentra adscrita al actual Ministerio del poder popular para Industria y Comercio y cuenta con una sola sede en la ciudad de Caracas para todo el territorio nacional.

  .-columnRight
   +ask_1("","-hide","","","","","")

  include _contact.pug