section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_1[4]}
    p El nombre comercial es específicamente el signo que tiene por objeto distinguir una empresa, negocio, explotación o establecimiento mercantil, industrial, agrícola o minero.
    p La diferencia con la marca es que el nombre comercial identifica una entidad jurídica que opera dentro del comercio y se identifica con ese nombre. Mientras que las marcas no se refieren a la entidad jurídica, si no a los productos que ésta fabrica o a los servicios que presta.

  .-columnRight
   +ask_1("","","","","-hide","","")

  include _contact.pug
 include _bottom.pug