section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_1[5]}
    p Es el signo constituido por una palabra, frase o leyenda que se emplea como complemento de una marca o de un nombre comercial.
    p En el campo de la publicidad se suele llamar eslogan.
    p Por lo general, el lema comercial atribuye cualidades o características que hacen más atractivo  para el consumidor el producto o servicio de la marca a la que están vinculados, por otra parte, algunos en vez de esto llaman al consumidor a la acción.

  .-columnRight
   +ask_1("","","","","","-hide","")

  include _contact.pug