section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_1[4]}
    p El nombre comercial es específicamente el signo que tiene por objeto distinguir una empresa, negocio, explotación o establecimiento mercantil, industrial, agrícola o minero.

  .-columnRight
   +ask_1("","","","","-hide","","")

  include _contact.pug