section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_1[5]}
    p Es el signo constituido por una palabra, frase o leyenda que se emplea como complemento de una marca o de un nombre comercial.

  .-columnRight
   +ask_1("","","","","","-hide","")

  include _contact.pug