section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_1[2]}
    p Pueden constituir marcas, entre otros, los siguientes signos:
    ol.m-listContent.-check
     li: p Las palabras o combinación de palabras;
     li: p Las imágenes, figuras, símbolos, gráficos, logotipos, monogramas, retratos, etiquetas, emblemas y escudos;
     li: p Los sonidos y los olores;
     li: p Las letras y los números;
     li: p Un color delimitado por una forma, o una combinación de colores;
     li: p La forma de los productos, sus envases o envolturas;
    p Cualquier combinación de los signos o medios indicados anteriormente.

  .-columnRight
   +ask_1("","","-hide","","","","")

  include _contact.pug
 include _bottom.pug