section.o-faqArticle.-padMdTopBottom
 .o-faqArticle__content.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_1[0]}
    p La marca comercial es el signo con que se identifica a un producto o servicio en el mercado.
    p La marca indica que el producto o servicio que distingue, ha sido producido o suministrado por una persona o empresa determinada. Esto se suele resumir afirmando que la marca identifica el origen empresarial de los productos y de los servicios.
    p Es común para muchos casos que la marca llegue a simbolizar la calidad y características de los productos o servicios que identifica. Se dice entonces que la marca ayuda a los consumidores en el momento de identificar y comprar los productos o servicios que, por su carácter y calidad, se adecuan a sus necesidades; de allí que se diga que:
    p.-medium “La marca tiene el poder de influir y guiar el comportamiento de compra de las personas”

  .-columnRight
   section.m-relatedArticle
    h4.-mXsTop.-mXsBottom Preguntas relacionadas
    ul.a-noPadding 
     li: a.-footerLink.-colorAlert(href=linksUrl[1]+askUrl_1[1]) #{ask_1[1]}
     li: a.-footerLink.-colorAlert(href="#") #{ask_1[2]}