section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_1[3]}
    p Las Clases de Productos y Servicios, son un conjunto de renglones enumerados que conforman una lista de productos y servicios definidos por la ley.
    p Cada renglón agrupa productos o servicios con características similares como los materiales con los cuales están hechos, sus usos, funciones, sector del mercado, etc.
    p A nivel internacional, por un acuerdo llamado la Clasificación Internacional de Niza, se han clasificado y enumerado 34 clases de productos y 11 de servicios hasta los momentos, los especialistas en propiedad industrial son quienes manejan con mayor destreza esta clasificación.

  .-columnRight
   +ask_1("","","","-hide","","","")

  include _contact.pug