section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_1[2]}
    p Pueden constituir marcas, entre otros, los siguientes signos: las palabras o combinación de palabras; las imágenes, figuras, símbolos, gráficos, logotipos, monogramas, retratos, etiquetas, emblemas y escudos; los sonidos y los olores; las letras y los números; un color delimitado por una forma, o una combinación de colores; la forma de los productos, sus envases o envolturas; cualquier combinación de los signos o medios indicados anteriormente.

  .-columnRight
   +ask_1("","","-hide","","","","")

  include _contact.pug