section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_1[6]}
    p A nivel nacional en Venezuela:
    ol.m-listContent.-check
     li: p Ley de Propiedad Industrial de 1955
    p A nivel internacional en los países de la Comunidad Andina de Naciones:
    ol.m-listContent.-check
     li: p Convenio de París para la Protección de la Propiedad Industrial (CUP)
     li: p Acuerdo sobre los Aspectos de los Derechos de Propiedad Intelectual relacionados con el Comercio (ADPIC)
     li: p Decisión 486 de la Comunidad Andina de Naciones “Régimen Común sobre Propiedad Industrial”

  .-columnRight
   +ask_1("","","","","","","-hide")

  include _contact.pug
 include _bottom.pug