section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_2[4]}
    p Las empresas y profesionales de esta área recomiendan realizar un estudio previo acerca de las marcas registradas y solicitudes de registro que ya cursan ante la Oficina de Registro de Marca.
    p La Oficina de Registro de Marca presta el servicio de búsqueda de marcas parecidas en sus archivos y bases de datos. Los resultados de estas búsquedas al ser analizados por un especialista, arrojan conclusiones acerca de las probabilidades de registro de una marca específica para distinguir productos o servicios determinados y sus posibles obstáculos.
    p A partir de estas conclusiones se podrán trazar estrategias que aumenten las probabilidades de que el registro de una marca sea concedido.
    p Para este particular, Prointelecto ofrece su servicio de Estudio de Viabilidad de Registro, que es la primera fase de este tipo de trámite.

  .-columnRight
   +ask_2("","","","","-hide","","")

  include _contact.pug
 include _bottom.pug