section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_2[6]}
    p En principio, el registro de marca es nacional y para obtenerlo en varios países, debe presentarse una solicitud de registro en cada una de las Oficinas Nacionales Competentes de los países en que se desea obtener el derecho de uso exclusivo de la Marca.
    p Existen acuerdos internacionales que regulan a nivel internacional el tema del registro de marcas, en éstos se facilita el registro de una marca en varios países al mismo tiempo, sin embargo, todavía no existe un registro de marca completamente internacional.
    p Venezuela, por su parte, ha suscrito junto con 173 países más, el Convenio de París para la Protección de la Propiedad Industrial (CUP). Estos países poseen un conjunto de normas comunes en materia de registro de marcas y otras figuras de propiedad industrial. Para el caso específico de las Marcas, esta normativa común establece un derecho que tiene efectos para la totalidad de los países miembros del CUP, el Derecho de Prioridad.
    p Con el Derecho de Prioridad, el solicitante de una marca puede hacer valer la fecha de su primera solicitud en cualquiera de los países miembros del CUP, dentro de los seis (06) meses siguientes a su presentación.

  .-columnRight
   +ask_2("","","","","","","-hide")

  include _contact.pug
 include _bottom.pug