section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_2[1]}
    p Se debe presentar una solicitud de registro de marca ante la Oficina de Registro de Marca del país en que se desea la protección y transitar el procedimiento establecido hasta obtener la concesión del certificado de registro de marca.
    p El registro de una marca, debe solicitarse para identificar productos o servicios determinados. La solicitud de registro de una marca debe indicar los productos o servicios específico que se van a identificar con la marca y la #[b.-colorPrimary “Clase de Productos o Servicios”] en que se ubican dichos productos o servicios.
    p Una solicitud de registro de marca puede indicar sólo los productos o servicios contenidos en una (01) clase. De esta manera, si se desea obtener el registro de una marca para servicios o productos que se ubican en clases diferentes, el solicitante deberá efectuar una solicitud por clase.

  .-columnRight
   +ask_2("","-hide","","","","","")

  include _contact.pug
 include _bottom.pug