section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_2[2]}
    p Actualmente, el tiempo varía entre 18 y 24 meses, las solicitudes de registro de marcas constituidas sólo por palabras (marcas denominativas) son concedidas mucho más rápido que las que contienen diseños y logotipos (marcas gráficas y mixtas), de allí que una de las recomendaciones de Prointelecto, para el caso de marcas constituidas por palabras y diseños (marcas mixtas), sea realizar una solicitud de registro para la parte denominativa de la marca y por separado, otra solicitud que incluya la parte gráfica.
    p Cuando se habla de tiempo, es importante señalar que la solicitud de registro de marca constituye para el solicitante un Derecho de Prioridad oponible a terceros que presenten solicitudes posteriores para la misma marca u otra semejante.

  .-columnRight
   +ask_2("","","-hide","","","","")

  include _contact.pug
 include _bottom.pug