section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_2[3]}
    p Sí. La normativa que rige la materia dispone un conjunto de prohibiciones de registro conforme a las cuales la Oficina de Registro de Marcas debe evaluar las solicitudes de registro, algunas de ellas se transcriben a continuación:
    p No podrán registrarse como marca, los signos que:
    ol.m-listContent.-check
     li: p Estén constituidos únicamente por palabras o figuras que describan el producto o servicio.
     li: p Estén constituidos únicamente por palabras o figuras que sean el nombre genérico o técnico del producto o servicio de que se trate.
     li: p Estén constituidos por palabras o figuras que sea idénticas o se asemejen, a una marca anteriormente solicitada para registro o registrada por un tercero, para los mismos productos o servicios, o para productos o servicios similares que pueda causar un riesgo de confusión o de asociación.

  .-columnRight
   +ask_2("","","","-hide","","","")

  include _contact.pug