section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_2[0]}
    p No son lo mismo, el registro mercantil es la oficina en la que se inscriben las sociedades mercantiles (las empresas) y las firmas personales. Este registro hace constar el nacimiento de un comerciante y mantiene un archivo abierto al público de los documentos que conforman la historia legal de la vida de dichos sujetos en el comercio, además de otras funciones.
    p El registro mercantil no tiene el mismo objeto que tiene el registro de marcas, mientras el registro mercantil constituye personas jurídicas de tipo comercial, el registro de marca constituye derechos de uso exclusivo para explotar marcas que identifiquen productos o servicios determinados.

  .-columnRight
   +ask_2("-hide","","","","","","")
  
  include _contact.pug
 include _bottom.pug