section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_2[5]}
    p El registro de una marca en Venezuela tiene una duración de quince (15) años contados a partir de la fecha de su concesión y puede renovarse por períodos sucesivos de quince (15) años indefinidamente.
    p En Colombia la duración es de diez (10) años y puede renovarse por períodos sucesivos de diez (10) años indefinidamente.
    p La renovación del certificado debe hacerse dentro de los seis (6) meses anteriores a la fecha de vencimiento del mismo, por ante la Oficina de Registro de Marcas en el caso de Venezuela. En Colombia adicional a este lapso, se tienen seis (6) meses más posteriores al vencimiento.

  .-columnRight
   +ask_2("","","","","","-hide","")

  include _contact.pug
 include _bottom.pug