section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_3[0]}
    p Si. Los nombres comerciales y los lemas comerciales.
    p El nombre comercial es específicamente el signo que tiene por objeto distinguir una empresa, negocio, explotación o establecimiento mercantil, industrial, agrícola o minero.
    p El lema comercial es el signo constituido por una palabra, frase o leyenda que se emplea como complemento de una marca o de un nombre comercial. En publicidad es lo que comúnmente se llama eslogan.

  .-columnRight
   +ask_3("-hide","","")

  include _contact.pug
 include _bottom.pug