section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_3[0]}
    p Si. Los nombres comerciales y los lemas comerciales.

  .-columnRight
   +ask_3("-hide","","")

  include _contact.pug