section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_3[1]}
    p Se debe presentar una solicitud de registro de nombre comercial ante la Oficina de Registro de Marca del país en que se desea la protección y transitar el procedimiento establecido hasta obtener la concesión del certificado de registro de nombre comercial.
    p El registro de un nombre comercial, solo podrá solicitarse para distinguir la empresa o firma correspondiente en uno o más ramos determinados de actividades u operaciones. La solicitud de registro de un nombre comercial debe indicar la “Clase” en que se ubica este tipo de signo.

  .-columnRight
   +ask_3("","-hide","")

  include _contact.pug