section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_3[2]}
    p Se debe presentar una solicitud de registro de lema comercial ante la Oficina de Registro de Marca del país en que se desea la protección y transitar el procedimiento establecido hasta obtener la concesión del certificado de registro de lema comercial.
    p El registro de un lema comercial, solo podrá solicitarse asociado a una solicitud o certificado de registro de marca o de nombre comercial específico. La solicitud de registro de un lema comercial debe indicar la “Clase” en que se ubica este tipo de signo.

  .-columnRight
   +ask_3("","","-hide")

  include _contact.pug
 include _bottom.pug