section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_4[3]}
    p El registro confiere a su titular (dueño) el derecho de uso exclusivo de la marca registrada.
    p Solo la marca registrada otorga a su titular el derecho a defenderse legalmente de la piratería y la imitación.
    p Las marcas registradas pueden detallarse en balances y estados financieros.
    p A la hora de un enfrentamiento judicial por simulación de productos o parecido marcario, quienes poseen Registro de Marca se encuentran en una posición mucho más fuerte frente al que no la tiene.
    p Las marcas registradas son activos intangibles que pueden producir ganancias por sí solos, se pueden ceder, vender, licenciar, franquiciar y hasta hipotecar.

  .-columnRight
   +ask_4("","","","-hide","")

  include _contact.pug
 include _bottom.pug