section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_4[4]}
    p El uso de marcas no registradas implica un alto riesgo para lo invertido en publicidad y mercadeo.
    p La marca no registrada se encuentra libre para cualquiera que la solicite ante la Oficina Nacional Competente de Registro de Marcas. Quien obtenga el Registro de Marca podrá impedirle a cualquier otro que la deje de usar o exigirle que le pague por ello.
    p Si bien la antigüedad y continuidad en el uso de una marca no registrada crea alguna expectativa de mejor derecho para quien la ha venido usando, el procedimiento judicial para demostrar esto frente al certificado de registro obtenido por un tercero, es largo, costoso, tedioso y nada asegura el éxito al final del mismo.
    p También se puede decir que el uso de marcas no registradas no otorga un documento cierto en el que se puedan apoyar reportes contables, ningún contador accederá a incluir marcas o nombres no registrados en sus balances o estados financieros.
    p Aunado a todo lo anterior, las marcas no registradas no pueden cederse, licenciarse, franquiciarse o darse en garantía, ya que no existe un documento legal cierto en el que se fundamente la titularidad.

  .-columnRight
   +ask_4("","","","","-hide")

  include _contact.pug