section.o-faqArticle.-padMdBottom
 include _top.pug
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_4[1]}
    p La ley venezolana asimila el nombre comercial a la marca, de allí que su registro confiera a su titular el derecho de uso exclusivo del nombre comercial registrado, lo que le permite defender este derecho legalmente, pudiendo impedir a cualquier tercero el uso del nombre, si no ha sido autorizado.
    p Asimismo, un registro de nombre comercial podrá ser transferido por acto entre vivos (cesión, venta, etc.) con la empresa a la cual pertenece (si su titular es una persona jurídica) o por vía sucesoral (con la muerte de su titular a sus herederos).
    p Resulta importante acotar que el nombre comercial dentro de los acuerdos internacionales en materia de propiedad industrial que ha suscrito Venezuela, conlleva una particularidad que lo hace diferir de la marca, y es que en estos acuerdos se establece que la protección del nombre comercial no debe estar sujeta a la obligatoriedad de su registro.
    p Lo anterior es sumamente importante, debido a que a nivel de conflictos judiciales la antigüedad y continuidad en el uso de un nombre comercial no registrado confiere un mejor derecho a quien lo ha venido usando frente aquel que tiene un registro del nombre comercial de menor antigüedad.

  .-columnRight
   +ask_4("","-hide","","","")

  include _contact.pug
 include _bottom.pug