section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_4[0]}
    p El registro confiere a su titular el derecho de uso exclusivo de la marca registrada, lo que le permite defender este derecho legalmente, pudiendo impedir a cualquier tercero el uso de la marca, si no ha sido autorizado.
    p Cuando se usa una marca no registrada, se corre el riesgo de que un tercero, ya sea por ignorancia o mala fe,  obtenga para sí el registro de una marca idéntica o similar y luego le  impida hacer uso de la misma, después de que usted ya ha posicionado la marca en la mente del consumidor.
    p Por otra parte, el titular de una marca registrada puede otorgar licencias de uso (autorizaciones), con o sin exclusividad, para que uno o más terceros exploten la marca respectiva, tanto de forma gratuita, como a cambio de un pago (regalía o royalty).
    p Asimismo, un registro de marca podrá ser transferido por acto entre vivos (cesión, venta, etc.) con o sin la empresa a la cual pertenece (si su titular es una persona jurídica) o por vía sucesoral (con la muerte de su titular a sus herederos).

  .-columnRight
   +ask_4("-hide","","","","")

  include _contact.pug