section.o-faqArticle.-padMdBottom
 .o-faqArticle__content.-bg.-ContainerUniversal
  .-columnLeft
   article
    h1.-h3.-mSmBottom #{ask_4[2]}
    p Sí. En primer lugar hacerse de una marca registrada implica realizar una inversión para obtener su registro. Esta inversión comprende el costo de las solicitudes, tasas y aranceles finales que deben cancelarse a la Oficina de Registro de Marcas, así como los honorarios de los asesores que se contraten para ello.
    p Sin embargo, el costo del registro de marcas en casi la totalidad de los casos es irrisorio en comparación con el valor que éstas llegan a tener y esto se debe entre otras cosas, a que la marca llega a consolidar todos los esfuerzos humanos y económicos que se invierten para cautivar al consumidor, quien al serle fiel y preferir los productos o servicios distinguidos por ella, produce una ventaja competitiva significativa frente a otras empresas dedicadas a una misma actividad o rubro.

  .-columnRight
   +ask_4("","","-hide","","")

  include _contact.pug