section.o-hero.-fdr#main
 .main
  .m-waves__container
   .m-waves
    .a-wave.-a
    .a-wave.-b
    .a-wave.-c
  .m-heroContent.-waveHero.container
   .content.-ContainerUniversal
    .m-heroContent__text.-center
     .a-heroContent__title
      h1.-colorLightin.-bold Nosotros
     .a-heroContent__text
      p.-colorLightin.-light.-subtitle Con nosotros el registro y renovación de sus marcas se realizarán de forma fácil, seria, confiable y profesional, sin que tenga que moverse de su oficina