section.o-contant
 .m-contant__content.-ContainerUniversal
  .m-ctaBox.-shadow.-hideMd
   img.m-ctaBox__img(src=linksUrl[1]+"assets/img/faq/apps.svg", alt="")
   .m-ctaBox__text
    h4.-nochange ¿No encuentras respuesta a tu pregunta?
    a(href=linksUrl[1]+linksInternos[5]).a-button
     button.a-btn.-btnSecondary.-btnBlock(type="button") Contactar

  .m-ctaBox.-calm.-shadow
   img.m-ctaBox__img(src=linksUrl[1]+"assets/img/faq/apps.svg", alt="")
   .m-ctaBox__text
    h4.-nochange.-colorLightin ¿Necesitas registrar tu marca comercial?
    .a-button
     button.a-btn.-btnCalm.-btnBlock(type="button") Servicios