section.o-blog.-pi
 .m-box__content.-ContainerUniversal
  .m-box__group
   .-row
    .-col-6.-colMd-6.-colSm-6.-pSmall.-mXsBottom
     +boxItemRelated(linksUrl[1]+blogSUrl_1[1],linksUrl[1]+"assets/img/blog/img_005.jpg","alt",blogCat[0],blogS_1[1],"Illustration is a good way to enhance positive user experience in UI/UX design.The article by Tubik Studio considers features of efficient illustration design.")
    .-col-6.-colMd-6.-colSm-6.-pSmall.-mXsBottom
     +boxItemRelated(linksUrl[1]+blogSUrl_1[2],linksUrl[1]+"assets/img/blog/img_010.jpg","alt",blogCat[0],blogS_1[2],"Illustration is a good way to enhance positive user experience in UI/UX design.The article by Tubik Studio considers features of efficient illustration design.")

   //-.-row
    .-col-3.-colMd-6.-colSm-6.-pSmall.-mXsBottom
     +boxItemRelated("#","https://blog.tubikstudio.com/wp-content/uploads/2020/07/credentially-design-website-case-study-tubik-1024x768.png","alt",blogCat[0],blogS_1[0],"Illustration is a good way to enhance positive user experience in UI/UX design.The article by Tubik Studio considers features of efficient illustration design.")
    .-col-3.-colMd-6.-colSm-6.-pSmall.-mXsBottom
     +boxItemRelated("#","https://blog.tubikstudio.com/wp-content/uploads/2020/06/logo-design-gotikket-service-1024x768.png","alt",blogCat[1],blogS_2[1],"Illustration is a good way to enhance positive user experience in UI/UX design.The article by Tubik Studio considers features of efficient illustration design.")
    .-col-3.-colMd-6.-colSm-6.-pSmall
     +boxItemRelated("#","https://blog.tubikstudio.com/wp-content/uploads/2020/07/credentially-design-website-case-study-tubik-1024x768.png","alt",blogCat[0],blogS_1[4],"Illustration is a good way to enhance positive user experience in UI/UX design.The article by Tubik Studio considers features of efficient illustration design.")
    .-col-3.-colMd-6.-colSm-6.-pSmall
     +boxItemRelated("#","https://blog.tubikstudio.com/wp-content/uploads/2020/06/logo-design-gotikket-service-1024x768.png","alt",blogCat[1],blogS_2[0],"Illustration is a good way to enhance positive user experience in UI/UX design.The article by Tubik Studio considers features of efficient illustration design.")