//- HTML
//- Si prepos está prendido poner ".html" para funcione bien
//- Quitarlo antes de subirlo al hosting
-var noHtml = ""
-var cssV = "?v=3.4.1"


//- la dirección cuando prepos esté prendido es /main/dist/ en el segundo objeto del Array
//- Quitarlo antes de subirlo al hosting
-var linksUrl = ["/", "/"]

-var title = "Prointelecto"
-var titles = ["Nosotros","Servicios","Preguntas frecuentes","Contactar","Blog"]
-var blogCat = ["Propiedad Intelectual","Franquicia"]
-var linksInternos = ["nosotros"+noHtml,"servicios/","servicios/registro-de-marca"+noHtml,"servicios/registro-de-marca"+noHtml,"faq/","contactar"+noHtml,"blog/","servicios/solicitud-informacion-y-tarifas-registro-marcas"+noHtml,"servicios/estudios-juridicos-y-contratos"+noHtml,"blog/propiedad-intelectual"+noHtml]
-var linksExternos = ["https://instagram.com/","https://www.facebook.com/prointelecto"]

//- Servicios
-var services = ["Servicios a Distancia", "Registro de Marcas"]
-var servicesCat = ["Registro de marcas y trámites relacionados","Estudios y Contratos relacionados con derechos de Propiedad Intelectual"]
-var serviceName = ["Registro de Marcas, Nombres y Lemas Comerciales", "Oposiciones y Recursos administrativos","Renovación de Registro de Marcas, Nombres y Lemas Comerciales","Inscripción de licencias, cesiones, cambios de nombre y domicilio","Registro de Nombres de Dominio","Estudios jurídicos de casos sobre marcas, invenciones, derechos de autor y otros derechos de propiedad intelectual","Contratos, acuerdos y notificaciones relacionados con ventas, cesiones, licencias, franquicias, confidencialidad, competencia y otros"]
-var serviceUrl = ["servicios/registro-de-marca"+noHtml,"servicios/oposiciones-recursos-administrativos"+noHtml,"servicios/renovacion-registros-de-marcas-nombres-y-lemas-comerciales"+noHtml,"servicios/inscripcion-licencias-cesiones-cambios-de-nombre-domicilio"+noHtml,"servicios/registro-de-nombre-de-dominio"+noHtml,"servicios/estudios-juridicos-marcas-invenciones-derechos-de-autor-confidencialidad"+noHtml,"servicios/contratos-acuerdos-ventas-cesiones-licencias-franquicias-confidencialidad"+noHtml]

//- Question
-var askSections = ["Conceptos e información básica","Registro de Marcas","Registro de otros signos comerciales","Razones para registrar su marca, nombre y lema comercial"]
-var ask_1 = ["¿Qué es una marca comercial?","¿Qué es el registro de marca?","¿Qué se puede registrar como Marca?","¿Qué son las clases de productos y servicios?","¿Qué es un nombre comercial?","¿Qué es un lema comercial?","¿Cuáles son las leyes y acuerdos internacionales específicos que regulan las marcas?"]
-var askUrl_1 = ["faq/0101-que-es-una-marca-comercial"+noHtml,"faq/0102-que-es-el-registro-de-marca"+noHtml,"faq/0103-que-se-puede-registrar-como-marca"+noHtml,"faq/0104-clases-de-productos-y-servicios"+noHtml,"faq/0105-que-es-un-nombre-comercial"+noHtml,"faq/0106-que-es-un-lema-comercial"+noHtml,"faq/0107-leyes-acuerdos-internacionales-regulan-marcas"+noHtml]

-var ask_2 = ["¿El registro mercantil y el registro de marca son lo mismo?","¿Cómo se solicita el registro de una marca?","¿En cuánto tiempo se obtiene un registro de marca en Venezuela?","¿Una solicitud de registro de marca puede ser negada?","¿Cómo se disminuyen las probabilidades de que una solicitud de registro de marca sea negada?","¿El registro de marca tiene vencimiento?","¿Existe un registro de marca a nivel internacional?"]
-var askUrl_2 = ["faq/0201-registro-mercantil-registro-marca-son-lo-mismo"+noHtml,"faq/0202-como-se-solicita-el-registro-de-una-marca"+noHtml,"faq/0203-cuanto-tiempo-se-obtiene-registro-marca-venezuela"+noHtml,"faq/0204-solicitud-de-registro-de-marca-puede-ser-negada"+noHtml,"faq/0205-probabilidades-solicitud-registro-de-marca-negada"+noHtml,"faq/0206-el-registro-de-marca-tiene-vencimiento"+noHtml,"faq/0207-existe-un-registro-de-marca-a-nivel-internacional"+noHtml]
 
-var ask_3 = ["¿Existen otros signos comerciales que se puedan registrar?","¿Cómo se registra un nombre comercial?","¿Cómo se registra un lema comercial?"]
-var askUrl_3 = ["faq/0301-existen-otros-signos-comerciales-que-puedan-registrarse"+noHtml,"faq/0302-como-se-registra-un-nombre-comercial"+noHtml,"faq/0303-como-se-registra-un-lema-comercial"+noHtml]

-var ask_4 = ["¿Qué derechos implica el registro de una marca?","¿Qué derechos implica el registro de un nombre comercial?","¿La marca registrada tiene un valor económico?","¿Cuáles son las ventajas de usar marcas registradas?","¿Cuáles son las desventajas de usar marcas no registradas?"]
-var askUrl_4 = ["faq/0401-que-derechos-implica-el-registro-de-marca"+noHtml,"faq/0402-que-derechos-implica-el-registro-de-nombre-comercial"+noHtml,"faq/0403-la-marca-registrada-tiene-valor-economico"+noHtml,"faq/0404-ventajas-de-usar-marcas-registradas"+noHtml,"faq/0405-desventajas-de-usar-marcas-no-registradas"+noHtml]

//- Blog
-var blogS_1 = ["Registra tu Marca y no pierdas tus esfuerzos de mercadeo","Propiedad Intelectual, la riqueza creada por el intelecto","Propiedad Intelectual en Eventos y Espectáculos","Propiedad Intelectual, la riqueza creada por el intelecto","Propiedad Intelectual en Eventos y Espectáculos"]
-var blogSUrl_1 = ["blog/0101-registra-tu-marca-no-pierdas-tus-esfuerzos-de-mercadeo"+noHtml,"blog/0102-propiedad-intelectual-la-riqueza-creada-por-el-intelecto"+noHtml,"blog/0103-propiedad-intelectual-en-eventos-y-espectaculos"+noHtml,"blog/pi042020-propiedad-intelectual-la-riqueza-creada-por-el-intelecto"+noHtml,"blog/pi052020-propiedad-intelectual-en-eventos-y-espectaculos"+noHtml]
-var blogS_2 = ["Por qué Franquiciar mi Negocio","¿Cómo se franquicia un negocio?","¿Qué debe evaluar antes de adquirir una franquicia?"]
-var blogSUrl_2 = ["blog/fr012020-por-que-franquiciar-mi-negocio"+noHtml,"blog/fr022020-como-se-franquicia-un-negocio"+noHtml,"blog/fr032020-que-debe-evaluar-antes-de-adquirir-una-franquicia"+noHtml]
 
//- Logo
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"logotipo_rev1.png", logoImg+"favicon_web.png", logoImg+"isotipo.png"]

//- Meta tags
-var metaFirm = " - "+title
-var metaTwitter = ["summary","summary_large_image"]
-var metaAuthor = [title, "Iskra Bohorquez, Abogado especialista en Propiedad Intelectual e Internet","Iskra Bohorquez"]
-var metaTypeImg = ["png", "jpg"]
-var metaType = ["website", "article"]
-var metaOgImg = ["https://prointelecto.com/assets/img/og/ogimg.png", "article"]
-var metaImgAlt = ["Banner con el logotipo de Prointelecto", "article"]

//- Monlogo
-var monlogo = ["https://monlogo.co", "Desarrollado por"]
