//- HTML
-var noHtml = ".html"
-var cssV = "?v=20"

-var linksUrl = ["/", "/main/dist/"]
 
-var title = "Prointelecto"
-var titles = ["Nosotros","Servicios","Preguntas frecuentes","Contactar","Blog"]
-var services = ["Servicios a Distancia", "Fases del registro"]
-var blogCat = ["Propiedad Intelectual","Franquicia"]
-var linksInternos = ["acerca-de"+noHtml,"servicios/","servicios/servicios-a-distancia"+noHtml,"servicios/fases-de-registro"+noHtml,"faq/","contactar"+noHtml]
-var linksExternos = ["https://instagram.com/"]

//- Question
-var askSections = ["Conceptos e información básica","Registro de Marcas","Registro de otros signos comerciales","Por qué registrar su marca, nombre y lema comercial"]
-var ask_1 = ["¿Qué es una marca comercial?","¿Qué es el registro de marca?","¿Qué se puede registrar como Marca?","¿Qué son las clases de productos y servicios?","¿Qué es un nombre comercial?","¿Qué es un lema comercial?","¿Cuáles son las leyes y acuerdos internacionales específicos que regulan las marcas, nombres y lemas comerciales en Venezuela y Colombia?"]
-var askUrl_1 = ["faq/0101-que-es-una-marca-comercial"+noHtml,"faq/0102-que-es-el-registro-de-marca"+noHtml,"faq/0103-que-se-puede-registrar-como-marca"+noHtml,"faq/0104-que-son-las-clases-de-productos-y-servicios"+noHtml,"faq/0105-que-es-un-nombre-comercial"+noHtml,"faq/0106-que-es-un-lema-comercial"+noHtml,"faq/0107-cuales-son-las-leyes-y-acuerdos-internacionales-especificos"+noHtml]

-var ask_2 = ["¿El registro mercantil y el registro de marca son lo mismo?","¿Cómo se solicita el registro de una marca?","¿En cuánto tiempo se obtiene un registro de marca en Venezuela?","¿Una solicitud de registro de marca puede ser negada?","¿Cómo se disminuyen las probabilidades de que una solicitud de registro de marca sea negada?","¿El registro de marca tiene vencimiento?","¿Existe un registro de marca a nivel internacional?"]
-var askUrl_2 = ["faq/0201-el-registro-mercantil-y-el-registro-de-marca-son-lo-mismo"+noHtml,"faq/0202-como-se-solicita-el-registro-de-una-marca"+noHtml,"faq/0203-en-cuanto-tiempo-se-obtiene-un-registro-de-marca"+noHtml,"faq/0204-una-solicitud-de-registro-de-marca-puede-ser-negada"+noHtml,"faq/0205-como-se-disminuyen-las-probabilidades-de-que-una-solicitud"+noHtml,"faq/0206-el-registro-de-marca-tiene-vencimiento"+noHtml,"faq/0207-existe-un-registro-de-marca-a-nivel-internacional"+noHtml]

-var ask_3 = ["¿Existen otros signos comerciales que se puedan registrar?","¿Cómo se registra un nombre comercial?","¿Cómo se registra un lema comercial?"]
-var askUrl_3 = ["faq/0301-existen-otros-signos-comerciales-que-se-puedan-registrar"+noHtml,"faq/0302-como-se-registra-un-nombre-comercial"+noHtml,"faq/0303-como-se-registra-un-lema-comercial"+noHtml]

-var ask_4 = ["¿Qué derechos implica el registro de una marca?","¿Qué derechos implica el registro de un nombre comercial?","¿La marca registrada tiene un valor económico?","¿Cuáles son las ventajas de usar marcas registradas?","¿Cuáles son las desventajas de usar marcas no registradas?"]
-var askUrl_4 = ["faq/0401-que-derechos-implica-el-registro-de-una-marca"+noHtml,"faq/0402-que-derechos-implica-el-registro-de-un-nombre-comercial"+noHtml,"faq/0403-la-marca-registrada-tiene-un-valor-economico"+noHtml,"faq/0404-cuales-son-las-ventajas-de-usar-marcas-registradas"+noHtml,"faq/0405-cuales-son-las-desventajas-de-usar-marcas-no-registradas"+noHtml]

//- Logo
-var logoImg = "assets/img/logo/"
-var logoResponsive = [logoImg+"logotipo_rev1.png", logoImg+"favicon_web.png", logoImg+"logo_conex@1_5x.png"]

//- Monlogo
-var monlogo = ["https://monlogo.co", "Desarrollado por"]