-var blogImgS_1 = ["assets/img/blog/img_011.jpg","assets/img/blog/img_005.jpg","assets/img/blog/@1x/002-eventos.jpg","",""]
-var blogImgUrl_1 = ["https://prointelecto.com/assets/img/blog/img_011.jpg","https://prointelecto.com/assets/img/blog/img_005.jpg","https://prointelecto.com/assets/img/blog/@1x/002-eventos.jpg"]