-var blogImgS_1 = ["assets/img/@1x/007-supermercado.jpg","assets/img/@1x/006-trabajo.jpg","assets/img/@1x/003-eventos.jpg","",""]

//- Fotos de datos estructurados
-var blogImgUrl_1 = ["https://prointelecto.com/assets/img/@1x/007-supermercado.jpg","https://prointelecto.com/assets/img/@1x/006-trabajo.jpg","https://prointelecto.com/assets/img/@1x/003-eventos.jpg"]